.inter-college-card {
  border-radius: 1rem;
  width: 53rem;
  height: 28rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inter-college-card > .card-transition {
  background-image: linear-gradient(to left, #000000, #ffffff26);
  display: flex;
  flex-direction: column;
  width: 53rem;
  height: 28rem;
  align-items: flex-end;
  justify-content: center;
  border-radius: 1rem;
  color: white;
  padding: 0 1.5rem 0 0;
  gap: 1rem;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.inter-college-card > .card-transition:hover {
  opacity: 1;
}
.inter-college-card > .card-transition > .title {
  font-size: 1.75rem;
}
.inter-college-card > .card-transition > .description {
  font-size: 0.875rem;
  color: #c9c9c9;
  width: 60%;
  height: 4rem;
  overflow: hidden;
}
.inter-college-card > .card-transition > .tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.inter-college-card > .card-transition > .tags > .tag {
  font-size: 0.825rem;
  padding: 0.35rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid #d7d7d7;
}
.inter-college-card > .card-transition > .stats {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
}
.inter-college-card > .card-transition > .stats > .stat {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}
.inter-college-card > .card-transition .register-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color-green);
  border-radius: 0.5rem;
  color: white;
}
