/* .viewer{
    height: 50rem;
    width: 100%;
} */

/* .Viewer { */
    /* text-align: center; */
    /* background-color: #525659; */
  /* } */

  @media screen and (max-width:426px) {
    .react-pdf__Page__canvas{
      width: 100% !important;
      /* height: 100% !important; */
      height: 600px !important;
    }
    
  }
  
 

  .App-header {
    background-color: #282c34;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Viewer {
    text-align: center;
    height: 100%;
  }

  .arrow-btn{
    background-color: #282c34;
    border: none;
    box-shadow: none;
    color: white;
    margin-bottom: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }
  