.session-cont {
  position: absolute;
  bottom: 126px;
  right: 20px;

  width: 260px;
  border: 1px solid gray;
  padding: 21.31px;

  border-radius: 10px;
}

.session-cont.first {
  background-color: #f5e1d2;
  bottom: 126px;
  right: 20px;
  z-index: 3;
}

.session-cont.second {
  background-color: #e1f6d3;
  bottom: 240px;
  right: 370px;
  z-index: 1;
}
