.offli {
  color: white;
  /* margin-bottom: 20px; */
  text-decoration: none;
  margin-left: 65px;
  /* margin-top: 20px; */
  transition: all 150ms ease-in-put;
}
/* .react_player{ */
  /* height: 100%;
 width: 100%;
 min-height: 500px; */
/* } */
.offli:hover {
  pointer-events: "cursor";
  color: yellow;
  border: 2px solid rgba(192, 192, 192, 0.192);
  box-sizing: border-box;

  /* opacity: 0.1; */
}

.custom-courses-list {
  overflow-y: scroll;
  height: 700px;
}
.watchnowbtn{
  color: green;
}
.react_player {
  padding: 4%;
}

.video-name {
  padding: 0 2rem;
  font-size: 1.5rem;
  color: var(--color);
  font-weight: bold;
  line-height: 1px;
}
.video-desc {
  padding: 0 2rem;
  line-height: 3.5rem;
}

@media screen and (max-width: 768px) {
 

  .video-name {
    line-height: 25px;
  }
  .video-desc {
    padding: 1rem 2rem;
    line-height: 1.5rem;
  }
  .cont-right{
    padding-left: 18%;
  }
}

@media screen and (max-width: 468px) {
  
.react_player{
  width:80vw ;
  height:60vh ;
}
.nottobedisplayed{
  display: none;
}
.video-name {
  padding: 0 1.1rem;
  font-size: 1.5rem;
  color: var(--color);
  font-weight: bold;
  line-height: 30px;
}

}
@media (max-width:460px) and (min-width:1980px) {
  .react_playermain{
    display: none;
  }
  
}