.offli{
    color: white;
    /* margin-bottom: 20px; */
    text-decoration: none;
    margin-left: 65px;
    /* margin-top: 20px; */

}

.offli:hover{
    pointer-events:"cursor";
    color: yellow;
    border: 2px solid rgba(192, 192, 192, 0.192);
    box-sizing: border-box;
    
    /* opacity: 0.1; */
}