.host-page-main-profile-dashboard {
  width: 100%;
  height: auto;
  padding: 16px;
  border-radius: 10px;
  background-color: white;
}

.host-page-main-profile-dashboard .post-create-main-sub {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  overflow: auto;
  scroll-behavior: smooth;
}

.host-page-main-profile-dashboard .post-create-main-sub::-webkit-scrollbar {
  height: 0px;
}
