.referral-dates-container .embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.referral-dates-container .embla__viewport {
  overflow: hidden;
}
.referral-dates-container .embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.referral-dates-container .embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  display: grid;
  row-gap: 0.5rem;
  justify-items: center;
}
.referral-dates-container .embla__slide__number {
  /* box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.referral-dates-container .embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.referral-dates-container .embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.referral-dates-container .embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.referral-dates-container .embla__button:disabled {
  color: var(--detail-high-contrast);
}
.referral-dates-container .embla__button__svg {
  width: 35%;
  height: 35%;
}

.main-book-now {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 40px;
  justify-content: center;
  background-color: #138382;
}

.left-booknow-container {
  width: 649px;

  border: 1px solid gray;
  padding: 24px 0px 0px 0px;
  border-radius: 10px;
  background-color: #f9fcfd;
}

.left-booknow-container .top-goback-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.left-booknow-container .top-goback-div .goback-btn {
  border-radius: 10px;
  padding: 4px 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.left-booknow-container .top-goback-div .goback-btn .goback-button-link {
  color: #002b36;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  margin-left: 5px;
}

.main-content-resume-div {
  margin-top: 30px;
  border-radius: 10px;
  background-color: white;
  padding: 24px;
}

.main-content-resume-div .text-h4 {
  color: #002b36;
  font-size: 26px;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  word-wrap: break-word;
}

.meeting-duration-book-now {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.meeting-duration-book-now .m-left-duration {
  width: 20%;
}

.meeting-duration-book-now .m-right-duration {
  width: 30%;
}

.meeting-duration-book-now.stick {
  position: relative;
  width: 1px;
  height: 45px;
  background-color: #002b36; /* Ensure the background color is applied */
  margin: 0 10px;
}

.meeting-duration-book-now .stick::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #002b36;
  border-radius: 10px;
  z-index: 1;
}

.more-details {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
  margin-top: 10px;
}

.more-details-content {
  margin-top: 20px;
}

.main-content-resume-div .more-details-content .text-h4 {
  color: #002b36;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 19px;
  word-wrap: break-word;
}

.main-content-resume-div .more-details-content .text-h4-content {
  margin-top: 20px;
  color: #002b36;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.main-content-resume-div .feedback-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.main-content-resume-div .feedback-section .text-h3 {
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
  word-wrap: break-word;
}

.feedback-section .feedback-btn-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.feedback-section .feedback-btn-main-div .feedback-btn {
  background-color: #f2f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 4px 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.feedback-section .feedback-btn-main-div .feedback-btn .feedback-button-link {
  color: #002b36;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.main-content-resume-div .feedback-carousal-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 12px 0;
}

.m-left-h4 {
  font-size: 20px;
}

.m-right-h4 {
  font-size: 20px;
}

/* //right container */

.right-booknow-container {
  width: 480px;
  height: fit-content;
  border: 1px solid white;
  padding: 24px;
  border-radius: 10px;
  background-color: #faffff;
}

.right-booknow-container .what-time-text {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.date-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.right-booknow-container .time-meet-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}

.right-booknow-container .time-meet-btns .time-meet-btn {
  background-color: #f2f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); */
}

.right-booknow-container .time-meet-btns .time-meet-btn:hover {
  background-color: #e5e5e5;
}

.right-booknow-container .time-meet-btns .time-meet-btn:disabled {
  background-color: #f1f3f5;
}

.right-booknow-container .time-meet-btns .time-meet-btn .time-meet-button-link {
  color: #002b36;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  cursor: pointer;
}

/* .time-div .time-meet-btn {
  background-color: #f2f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.time-div .time-meet-btn:hover {
  background-color: #e5e5e5;
}

.time-div .time-meet-btn:disabled {
  background-color: #f1f3f5;
}

.time-div .time-meet-btn .time-meet-button-link {
  color: #002b36;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
} */

/* .time-calendar-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
} */

.select-time-text {
  margin-top: 10px;
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.right-booknow-container #timeCarousel .carousel-inner {
  background-color: white;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  background: transparent;
}

/* Remove blue color background (if any) */
.right-booknow-container #timeCarousel .carousel-inner {
  background-color: transparent;
}

/* Remove default spacing or add custom spacing */
.right-booknow-container #timeCarousel .carousel-item {
  padding: 0;
}

/* Adjust gap between columns */
.right-booknow-container #timeCarousel .row {
  margin: 10px 0;
}

.right-booknow-container #timeCarousel .col-3 {
  padding: 0 0;
  margin-top: 10px;
}

#timeCarousel .row .col-4 {
  padding: 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 0 0 auto;
  width: 33%;
}

.right-booknow-container .calendar-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.right-booknow-container .calendar-content .confirm-btn-link {
  padding: 10px 24px;
  border-radius: 5px;
  background-color: #138382;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  font-family: Inter;
}

.right-booknow-container .confirm-btn button {
  background-color: #138382;
  color: white;
}

.right-booknow-container .confirm-btn button:hover {
  background-color: white;
  color: #138382;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.right-booknow-container .calendar-content .calendar-content-data {
  display: flex;
}

.right-booknow-container .calendar-content .calendar-content-data .data-text-h4,
.data-text-h5 {
  color: #138382;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
  margin-bottom: 3px;
}

#dateCarousel .row .col-3 {
  padding: 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 0 0 auto;
  width: 24%;
}

#dateCarousel .row .col-4 {
  padding: 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 0 0 auto;
  width: 32%;
}

#dateCarousel .carousel-item.active {
  margin: 0 13px;
  background-color: transparent;
}

@media screen and (max-width: 520px) {
  .main-book-now {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
  }

  .left-booknow-container {
    width: 100%;
  }

  .feedback-section .feedback-btn-main-div {
    display: none;
  }

  .main-content-resume-div .feedback-carousal-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 12px 0;
  }

  .main-content-resume-div .text-h4 {
    font-size: 22px;
  }

  .right-booknow-container {
    width: 100%;
    height: 100%;
  }

  .meeting-duration-book-now .m-left-duration {
    width: 40%;
  }

  .meeting-duration-book-now .m-right-duration {
    width: 50%;
  }

  .m-left-h4 {
    font-size: 18px;
  }

  .m-right-h4 {
    font-size: 18px;
  }
}
