@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* * {
  border: 1px solid red;
} */
.container {
  font-family: "Poppins", sans-serif;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  overflow: hidden;
  background-color: transparent;
}
.tcsimage{
  height: 10vh;
}
.tagContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.headerContainer {
  display: flex;
  justify-content: space-evenly;
}
.headerbrandname {
  position: relative;
  left: 26px;
  font-size: 4rem;
  font-weight: 700;
  color: #05555e;
  margin-block-end: 0;
  margin-block-start: 0;
}
.headerbelow {
  position: relative;
  letter-spacing: -0.4px;
  bottom: 16px;
  left: 144px;
  font-weight: 400;
  font-size: 1.3rem;
  margin-block-end: 0;
  margin-block-start: 0;
}
.videocard {
  border-radius: 25px;
  position: relative;
}
.video {
  width: 10vw;
}
.headearpart {
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 3%;
}
.headercard {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 3px 3px rgb(165, 162, 162);
  width: 25%;
  padding: 0.5rem;
  border-radius: 20px;
  height: 18%;
  align-items: center;
}
.headercardtext {
  font-family: "Bebas Neue", cursive;
  color: rgba(255, 214, 0, 1);
  font-weight: 700;
  font-size: 4rem;
  line-height: 92px;
  margin-block-end: 0;
  margin-block-start: 0;
}
.iconsposition {
  justify-content: center;
  align-items: center;
  position: relative;
  left: 13%;
}
.innerfont {
  color: rgba(0, 0, 0, 0.975);
  font-size: 1.3rem;
}

.cllgCarol{
    display: flex;
    justify-content: space-evenly;
}
.Studentsfrom {
  background-color: rgba(1, 64, 81, 1);
  padding: 2%;
  margin-top: 5%;
  border-radius: 10px;
  width: 95vw;
  margin-left: 2.5%;
}
.studenttxt {
  color: rgba(255, 242, 0, 1);
  font-size: 2rem;
  display: flex;

  align-items: center;
  justify-content: center;
}
.studentfrom {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.studentfrom2 {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 1%;

 
}
.Studentsfrom2 {
  background-color: rgba(1, 64, 81, 1);
  padding: 2%;
  margin-top: 1%;
  border-radius: 10px;
  width: 95vw;
  margin-left: 2.5%;
}

/* .signup{
    background-color: white;
    position: absolute;
    margin-top: 1.2%;
    justify-content: left;
    justify-items: left;
  border: none;
  box-shadow: 3px 3px #bcc0c7;
    color: #05555E;
    font-weight: 600;
    font-size: 0.9rem;
} */
/* .line{
    background-color: #05555E;
    height: 13rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: top;

} */

/* .line h2{
    padding:1.5%;
    padding-top: 6%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
} */

.Members {
  margin-top: 10%;
}


.comp{
  width: fit-content;
}



@media screen and (max-width: 1024px) {
  .comp:nth-child(6) {
    display: none;
  }

}

@media screen and (max-width: 768px){
  .comp:nth-child(5) {
    display: none;
  }

}