
.home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.left{
    margin-top: 10%;
    justify-content: left;
    text-align: left;
    align-items: left;
}
.left h2{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
    color: black;
}
.left h1{
    font-family: 'Poppins', sans-serif;
    color: #FFBA5F;
    text-align: left;
    font-weight: bold;
    font-size: 3.5rem;
}
.signup{
    background-color: white;
    position: absolute;
    margin-top: 1.2%;
    justify-content: left;
    justify-items: left;
  border: none;
  box-shadow: 3px 3px #bcc0c7;
    color: #05555E;
    font-weight: 600;
    font-size: 0.9rem;
}
.line{
    background-color: #05555E;
    height: 9rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: top;

}


.line h2{
    padding:2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.arrow{
    background-color: #05555E;
    color: white;
    font-weight: bold;
    border: none;

}
.right{
    margin: 6%;
    border-radius: 3%;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
}


