#chat-root {
  position: fixed;
  z-index: 1000;
}

#chat-root #floating-chat-button .chat-button-icon {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002b361a;
  border-radius: 50%;
  height: 28px;
  max-height: 28px;
  aspect-ratio: 1;
}
