.campus-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
}
.campus-page .heading-3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color-dark-green);
  margin-bottom: 1rem;
}
.campus-page .subheading-1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 3.5rem;
  color: var(--text-color-dark-green);
}
.search-bar__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar__container > div {
  width: max(50%, 23rem);
  display: flex;
  justify-content: center;
}
.campus-events-section {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.campus-featured-events-section > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color-dark-green);
  margin-bottom: 1rem;
}
.campus-featured-events-section > .events {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.campus-events-tabs {
  border: 1px solid rgb(33, 139, 137, 0.61);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin: 2rem 0;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}
.campus-events-tabs > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
.campus-events-tabs > .coming-soon {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--text-color-green);
}

@media screen and (max-width: 450px) {
  .campus-events-section {
    gap: 0;
    margin: 0;
  }
}
