.user-view-student-follow-main-div-more-about {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: auto;
  padding: 16px;
  border-radius: 10px;
  background-color: white;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); */
}

.user-follow-card {
  display: flex;
  flex-direction: column;
}

.user-view-student-follow-main-div-more-about .user-follow-section-with-img {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.user-view-student-follow-main-div-more-about {
}

.user-view-student-follow-main-div-more-about {
}

@media screen and (max-width: 820px) {
}
