.user-view-student-follow-main-div-also-follow {
  width: 100%;
  height: auto;
  padding: 16px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.user-view-student-follow-main-div-also-follow .user-follow-section-with-img {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.user-view-student-follow-main-div-also-follow .user-follows-saif {
  border-radius: 50%;
}

.user-view-student-follow-main-div-also-follow .btn-default {
  background-color: #128381;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 4px 16px;
  border: 1px solid #128381;
  outline: none;
  transition: 0.2s ease;
  border-radius: 8px;
}

.user-view-student-follow-main-div-also-follow .btn-active {
  background-color: rgba(19, 131, 130, 0.05);
  color: #138382;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 4px 16px;
  border: 1px solid #138382;
  outline: none;
  transition: 0.2s ease;
  border-radius: 8px;
}

@media screen and (max-width: 820px) {
}
