.performance-section-main-div {
  width: 100%;
  height: auto;
  padding: 16px;
  border-radius: 10px;
  background-color: white;
}

.performance-section-main-div .analytics-boxes-div {
  margin-top: 10px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.performance-section-main-div .analytics-boxes-div .analytics-box-1 {
  padding: 12px;
  border-radius: 10px;
  width: 200px;
  height: auto;
  background-color: #ffe5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.performance-section-main-div .analytics-boxes-div .analytics-box-2 {
  padding: 12px;
  border-radius: 10px;
  width: 200px;
  height: auto;
  background-color: #f3f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.performance-section-main-div .analytics-boxes-div .analytics-box-3 {
  padding: 12px;
  border-radius: 10px;
  width: 145px;
  height: auto;
  background-color: #f3f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 520px) {
  .performance-section-main-div .analytics-boxes-div {
    margin-top: 10px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .performance-section-main-div .analytics-boxes-div .analytics-box-1 {
    width: 160px;
  }

  .performance-section-main-div .analytics-boxes-div .analytics-box-2 {
    width: 160px;
  }

  .performance-section-main-div .analytics-boxes-div .analytics-box-3 {
    width: 160px;
  }
}

.loader-new-saif {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.loader-new-saif div {
  width: 16px;
  height: 16px;
  background: teal;
  margin: 2px;
  display: inline-block;
  animation: loader 1.2s infinite;
}

.loader-new-saif div:nth-child(1) {
  animation-delay: 0.15s;
}

.loader-new-saif div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader-new-saif div:nth-child(3) {
  animation-delay: 0.45s;
}

.loader-new-saif div:nth-child(4) {
  animation-delay: 0.6s;
}

.loader-new-saif div:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes loader {
  0% {
    transform: rotateY(0deg);
  }

  50%,
  80% {
    transform: rotateY(-180deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}
