.edit-profile > div > div > .box > .md-alert-text {
  color: #f55835;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140.523%;
  display: none;
}
.edit-profile > div > div > .box > div {
  display: flex;
  flex-direction: row;
  gap: 4.63rem;
}
.edit-profile > div > div > .box > div > .logo {
  min-width: 9.375rem;
  aspect-ratio: 1/1;
  background-color: transparent;
}
.edit-profile > div > div > .box > div > .logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--foundation-black-black-50, #e6e6e6);
}
.edit-profile > div > div > .box > .mobile-field {
  display: flex;
  gap: 0;
}
.edit-profile > div > div > .box > .mobile-field > .input-field:nth-child(1) {
  width: 7rem;
}

.edit-profile > div > div > .box > div > .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.edit-profile > div > div > .box > div > .buttons > button {
  padding: 0.9rem;
  width: 100%;
  max-width: 11rem;
  color: #002b36;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.3125rem;
  border: 1px solid #014051;
  background-color: transparent;
}
.edit-profile > div > div > .box > div > .buttons > button:nth-child(2) {
  background-color: rgba(1, 64, 81, 0.06);
}
.edit-profile
  > div
  > div
  > .box
  > div
  > .buttons
  > button:nth-child(2):disabled {
  cursor: default;
}
.edit-profile
  > div
  > div
  > .box
  > div
  > .buttons
  > button:nth-child(3):disabled {
  background-color: rgba(70, 83, 86, 0.06);
  color: #b0b0b0;
  border-color: #b0b0b0;
  cursor: default;
}

.edit-profile > div > div > .box > div > .buttons > .alert-text {
  color: #f55835;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
}
.edit-profile .update-btn,
.edit-profile > div > div > .box > .update-btn {
  padding: 0.94rem 1.2rem;
  width: fit-content;
  border-radius: 0.3125rem;
  background: #014051;
  color: white;
  margin-top: 0.5rem;
  float: right;
}

@media screen and (max-width: 768px) {
  .edit-profile > div > div > .box > div {
    gap: 2.87rem;
  }
  .edit-profile > div > div > .box > div > .logo {
    min-width: 7.5rem;
  }
  .edit-profile > div > div > .box > div > .buttons > .alert-text {
    display: none;
  }
  .edit-profile > div > div > .box > .md-alert-text {
    display: block;
  }
}
