.profile-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
}
.profile-dashboard > .title {
  font-size: 1.95313rem;
  font-weight: 600;
  margin-bottom: 0.19rem;
}
.profile-dashboard > .subheading {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(138, 138, 138, 1);
  margin: 0;
}
.profile-dashboard > section {
  border-radius: 0.63rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 0.25rem;
  padding: 1.25rem;
}
.profile-dashboard > .details-container {
  display: flex;
  flex-direction: column;
  margin-top: 3.9rem;
  padding: 0;
}
.profile-dashboard > .details-container > .cover {
  width: 100%;
  aspect-ratio: 70 / 15.625;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.profile-dashboard > .details-container > .cover > .edit-option {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.profile-dashboard > .details-container > .cover > .edit-option > svg {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(138, 157, 163, 1);
}
.profile-dashboard > .details-container > .cover > .logo {
  width: 8.75rem;
  height: 8.75rem;
  position: absolute;
  bottom: 0;
  left: 1.25rem;
  transform: translateY(2.435rem);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  outline: 2px solid #d3d3d3;
}
.profile-dashboard > .details-container > .cover > .logo > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-dashboard > .details-container > .details {
  padding: 1.25rem;
}
.profile-dashboard > .details-container > .details > .upper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 7.3rem;
  margin-top: 1rem;
  margin-bottom: 2.19rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.19rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.56rem;
  color: rgba(51, 51, 51, 1);
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > div {
  display: flex;
  gap: 0.44rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > div
  > h3 {
  font-size: 1rem;
  color: rgba(138, 138, 138, 1);
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  max-width: 16.1875rem;
  width: 100%;
}

.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container
  > .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container
  > .socials
  > div
  > svg {
  width: 2.3rem;
  height: 2.3rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container
  > .edit-btn {
  max-width: 16.1875rem;
  width: 100%;
  height: 2.875rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 43, 54, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  border: none;
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.profile-dashboard > .recent-activities > .tags-container {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem 0;
}
.profile-dashboard > .recent-activities > .tags-container > .tag {
  display: flex;
  padding: 0.56rem 1.31rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.375rem;
  border: 1px solid rgba(230, 230, 230, 1);
  background-color: transparent;
  color: #626262;
  font-size: 0.875rem;
  line-height: 120.023%; /* 1.05019rem */
  font-weight: 500;
}
.profile-dashboard > .recent-activities > .tags-container > .tag:hover {
  border: 1px solid rgba(0, 43, 54, 1);
  color: #000;
}
.profile-dashboard > .recent-activities > .tags-container > .--is-active {
  border: 1px solid rgba(0, 43, 54, 1);
  color: #000;
  background-color: rgba(230, 234, 235, 1);
}
.profile-dashboard > .recent-activities > .carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}
.profile-dashboard > .recent-activities > .carousel-container > .arrow {
  min-width: 3.125rem;
  min-height: 3.125rem;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: 1px solid black;
  font-size: 1.75rem;
}
.profile-dashboard > .recent-activities > .carousel-container > .arrow-left {
  margin-right: 1.25rem;
}
.profile-dashboard > .recent-activities > .carousel-container > .arrow-right {
  margin-left: 1.25rem;
}
.profile-dashboard > .recent-activities > .carousel-container > .carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3.69rem;
  width: 100%;
  overflow-x: auto;
  padding: 0.5rem 0;
}

.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card {
  min-width: 16.5625rem;
  max-width: 16.5625rem;
  height: 17.5rem;
  border-radius: 0.3125rem;
  border: 1.5px solid rgba(230, 230, 230, 1);
  background: #fff;
  padding: 1.13rem 1.37rem;
  display: flex;
  flex-direction: column;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.06rem;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .header
  > .logo {
  width: 4.6875rem;
  height: 4.6875rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid #d3d3d3;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .header
  > .tag {
  color: rgba(0, 0, 0, 1);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 120.023%; /* 0.90019rem */
  padding: 0.44rem 0.69rem;
  border-radius: 1.375rem;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .header
  > .--service-on {
  border: 1px solid #2eff1c;
  background: linear-gradient(
    132deg,
    rgba(35, 252, 31, 0.15) 0%,
    rgba(11, 180, 7, 0.09) 100%
  );
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .header
  > .--service-off {
  border: 1px solid rgba(255, 0, 0, 1);
  background: rgba(255, 229, 229, 1);
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 111.023%;
  color: rgba(0, 43, 54, 1);
  overflow: hidden;
  margin-bottom: 0.63rem;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .location {
  font-size: 0.875rem;
  line-height: 110.023%;
  overflow: hidden;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 1.19rem;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .applicants-btn {
  height: 2.75rem;
  border: none;
  border-radius: 0.3125rem;
  background: rgba(0, 43, 54, 1);
  color: #fff;
  font-weight: 500;
  line-height: 110.023%; /* 1.10025rem */
  margin-bottom: 0.94rem;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .stats-container {
  color: rgba(51, 51, 51, 1);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 110.023%; /* 0.96269rem */
  display: flex;
  justify-content: space-between;
}
.profile-dashboard
  > .recent-activities
  > .carousel-container
  > .carousel
  > .job-card
  > .stats-container
  > .views {
  display: flex;
  align-items: center;
  gap: 0.26rem;
}
.profile-dashboard > .recent-activities > .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-dashboard > .recent-activities > .btn-container > .all-jobs-btn {
  border-radius: 3.125rem;
  border: 1px solid var(--foundation-black-black-200, #8a8a8a);
  background-color: transparent;
  color: var(--foundation-black-black-200, #8a8a8a);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110.023%; /* 0.96269rem */
  padding: 1rem 1.12rem;
  margin: 0 auto;
}
