.profile-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
}
.profile-dashboard > .title {
  font-size: 1.95313rem;
  font-weight: 600;
  margin-bottom: 0.19rem;
}
.profile-dashboard > .subheading {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(138, 138, 138, 1);
  margin: 0;
}
.profile-dashboard > section {
  border-radius: 0.63rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 0.25rem;
  padding: 1.25rem;
}
.profile-dashboard > .details-container {
  display: flex;
  flex-direction: column;
  margin-top: 3.9rem;
  padding: 0;
}
.profile-dashboard > .details-container > .cover {
  width: 100%;
  aspect-ratio: 70 / 15.625;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.profile-dashboard > .details-container > .cover > .edit-option {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.profile-dashboard > .details-container > .cover > .edit-option > svg {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(138, 157, 163, 1);
}
.profile-dashboard > .details-container > .cover > .logo {
  width: 8.75rem;
  height: 8.75rem;
  position: absolute;
  bottom: 0;
  left: 1.25rem;
  transform: translateY(2.435rem);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  outline: 2px solid #d3d3d3;
}
.profile-dashboard > .details-container > .cover > .logo > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-dashboard > .details-container > .details {
  padding: 1.25rem;
}
.profile-dashboard > .details-container > .details > .upper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 7.3rem;
  margin-top: 1rem;
  margin-bottom: 2.19rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.19rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.56rem;
  color: rgba(51, 51, 51, 1);
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > div {
  display: flex;
  gap: 0.44rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .left-container
  > div
  > div
  > h3 {
  font-size: 1rem;
  color: rgba(138, 138, 138, 1);
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  max-width: 16.1875rem;
  width: 100%;
}

.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container
  > .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container
  > .socials
  > div
  > svg {
  width: 2.3rem;
  height: 2.3rem;
}
.profile-dashboard
  > .details-container
  > .details
  > .upper-container
  > .right-container
  > .edit-btn {
  max-width: 16.1875rem;
  width: 100%;
  height: 2.875rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 43, 54, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  border: none;
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
