.chat-message {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: white;
  /* margin: 0 3.5rem; */
  padding: 0 3.5rem;
}
.chat-message--flipped {
  flex-direction: row-reverse;
}

.chat-message .avatar-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 4rem;
  height: 100%;
}
.chat-message .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.message-container--flipped {
  align-items: flex-end;
}

.message-container .message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.message-container .message-header--flipped {
  flex-direction: row-reverse;
}

.message-container .message-header .name {
  font-size: 1rem;
  font-weight: 500;
}
.message-container .message-header .time {
  font-size: 0.6rem;
  color: #7b7676;
  margin: 0 0.5rem;
}
.message-container .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  margin: 0.2rem 0;
  font-size: 0.7rem;
}
.message-container .tags .tag {
  padding: 0.1rem 0.3rem;
  border-radius: 0.1rem;
  background-color: white;
  color: black;
}
.message-container .message-body {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.2rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: max(60%, 10rem);
  align-items: center;
  gap: 0.5rem;
}
.message-container .message-body--flipped {
  flex-direction: row-reverse;
}

.message-container .message-body .message {
  background-color: #3d3f41;
  padding: 0.45rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  flex-flow: wrap;
}
.message-container .message-body .options {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0.8rem;
  min-height: 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.message-container .message-body .options:hover {
  background-color: rgb(62, 64, 65);
}
