#domain-switcher-mobile {
  width: 100%;
}
#domain-switcher-mobile .active-item {
  display: flex;
  width: 100%;
  padding: 0.5rem 1.375rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  background: rgba(247, 215, 127, 0.75);
  border: none;
}
#domain-switcher-mobile .active-item .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}
#domain-switcher-mobile .logo{

}