.featured-events-card2 {
  display: flex;
  flex-direction: row;
  /* background-color: var(--secondary-color-green); */
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.4rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  width: 35rem;
}
.featured-events-card2 > div:nth-child(1) {
  border-radius: 0.5rem;
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: max-content;
  align-items: center;
  min-width: 40%;
  max-width: 14rem;
}
.featured-events-card2 > div > .poster {
  width: 14rem;
  border-radius: 0.5rem;
  height: 14rem;
}
.featured-events-card2 > .content {
  height: 14rem;
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
  width: fit-content;
  align-items: flex-start;
}
.featured-events-card2 > .content > .title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.featured-events-card2 > .content > .description {
  font-size: 0.75rem;
  font-weight: 500;
  height: 4.75rem;
  overflow: hidden;
}
.featured-events-card2 > .content > .hashtags {
  display: flex;
  /* gap: 0.5rem; */
  height: 3rem;
  font-size: 0.625rem;
  font-weight: 400;
  flex-wrap: wrap;
}
.featured-events-card2 > .content > .hashtags > .hashtag {
  display: flex;
  margin: 0 1.5rem 0.5rem 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  font-size: 0.75rem;
  font-weight: 500;
}
.featured-events-card2 > .content > .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
}
.featured-events-card2 > .content > .stats > .stars,
.featured-events-card2 > .content > .stats > .views,
.featured-events-card2 > .content > .stats > .time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 615px) {
  .featured-events-card2 {
    border-radius: 0.375rem;
    padding: 0.3rem;
    width: 26.25rem;
  }
  .featured-events-card2 > div:nth-child(1) {
    border-radius: 0.375rem;
    height: 11.2rem;
    width: 11.2rem;
  }
  .featured-events-card2 > div > .poster {
    border-radius: 0.375rem;
  }
  .featured-events-card2 > .content {
    height: 10.5rem;
    width: 60%;
    gap: 0.15rem;
    padding: 0.75rem;
  }
  .featured-events-card2 > .content > .title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.225rem;
  }
  .featured-events-card2 > .content > .description {
    font-size: 0.5625rem;
    font-weight: 500;
    height: 3.8rem;
  }
  .featured-events-card2 > .content > .hashtags {
    height: 2.4rem;
    font-size: 0.46875rem;
    font-weight: 400;
  }
  .featured-events-card2 > .content > .hashtags > .hashtag {
    margin: 0 1.2rem 0.375rem 0;
    font-size: 0.5625rem;
    font-weight: 500;
  }
  .featured-events-card2 > .content > .stats {
    width: 100%;
    gap: 0.75rem;
    font-size: 0.5625rem;
    font-weight: 500;
  }
  .featured-events-card2 > .content > .stats > .stars,
  .featured-events-card2 > .content > .stats > .views,
  .featured-events-card2 > .content > .stats > .time {
    gap: 0.375rem;
  }
}

@media screen and (max-width: 455px) {
  .featured-events-card2 {
    border-radius: 0.28125rem;
    padding: 0.225rem;
    width: 19.6875rem;
  }
  .featured-events-card2 > div:nth-child(1) {
    border-radius: 0.28125rem;
    height: 8.4rem;
    width: 8.4rem;
  }
  .featured-events-card2 > div > .poster {
    border-radius: 0.28125rem;
  }
  .featured-events-card2 > .content {
    height: 7.875rem;
    width: 60%;
    gap: 0.1125rem;
    padding: 0.5625rem;
  }
  .featured-events-card2 > .content > .title {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.16875rem;
  }
  .featured-events-card2 > .content > .description {
    font-size: 0.5625rem;
    font-weight: 500;
    height: 2.85rem;
  }
  .featured-events-card2 > .content > .hashtags {
    height: 1.8rem;
    font-size: 0.46875rem;
    font-weight: 400;
  }
  .featured-events-card2 > .content > .hashtags > .hashtag {
    margin: 0 0.9rem 0.28125rem 0;
    font-size: 0.5625rem;
    font-weight: 500;
  }
  .featured-events-card2 > .content > .stats {
    width: 100%;
    gap: 0.5625em;
    font-size: 0.5625rem;
    font-weight: 500;
  }
  .featured-events-card2 > .content > .stats > .stars,
  .featured-events-card2 > .content > .stats > .views,
  .featured-events-card2 > .content > .stats > .time {
    gap: 0.28125rem;
  }
}
