* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-hir {
  background-color: #002a36;
  margin: auto;
  border-radius: 30px;
  padding: 35px 0px 35px 0px;
  margin: 20px 20px 20px 20px;
}

.hire {
  font-size: 5rem;
  /* padding: 60px 34px; */
  color: #e1d71c;
}

.texthire {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 48px;
  padding-top: 0px;
}
