* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .container-hiring {
    background-color: #002a36;
    margin: 20px;
    border-radius: 20px;
    padding-bottom: 80px;
  }
  
  .hire {
    font-size: 5rem;
  /* padding: 60px 34px; */
  color: #e1d71c;
  }
  
 .texthire{ 
  font-family: "Poppins";
font-size: 30px;
font-weight: 300;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: white;
padding:30px 48px;
/* margin-top: 0px; */
padding-bottom: 0px;
 }

