

.container-hiring {
  background-color:
  rgba(0, 169, 217, 0.06);
  margin: auto;
  /* border-radius: 30px; */
  padding: 35px 0px 35px 0px;
  /* margin: 20px 20px 20px 20px; */
}

.hire {
  font-size: 5rem;
  /* padding: 60px 34px; */
  color: #e1d71c;
}

.texthire {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #002B36;
  padding: 48px;
  padding-top: 0px;
}
.hiringcardui{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

@media screen and (min-width:768px) {
  .texthire{
    padding-left: 43px;
  }
  
}