.emailInput{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotPassHeader{
    color: #0a3f51;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.InputFieldFpass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.reduceWidth{
    width: 60vw;
}