.main-community-blog-section-div {
  width: 100%;
  max-width: 1080px;
  height: 100%;
  margin: 40px auto;
  background-color: rgba(254, 228, 226, 0.5);
  
  
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-community-blog-section-div .h4-com-blog-sec {
  margin-bottom: 0;
  font-weight: 600;
}

.main-community-blog-section-div .main-community-blog-sub {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.main-community-blog-section-div {
}
.main-community-blog-section-div {
}
.main-community-blog-section-div {
}
.main-community-blog-section-div {
}

@media screen and (max-width: 820px) {
  .main-community-blog-section-div .main-community-blog-sub {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .main-community-blog-section-div .h4-com-blog-sec {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 22px;
      color: #002b36;
  }

  .main-community-blog-section-div{
    margin-bottom: 30px;
  }
}
