.domain-chip {
  border-radius: 5rem;

  --domain-orange: #f7d77f; /* rgb(247, 215, 127) */
  --domain-green: #b2e887; /* rgb(178, 232, 135) */
  --domain-red: #e8ba98; /* rgb(232, 186, 152) */
}
.domain-chip:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: all 0.2s ease-in-out;
}
.domain-orange {
  background-color: var(--domain-orange);
}
.domain-green {
  background-color: var(--domain-green);
}
.domain-red {
  background-color: var(--domain-red);
}
