// div {
// 	align-items: center;
// 	background: #E3E3E3;
// 	display: flex;
// 	height: 100vh;
// 	justify-content: center;
// }

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 20s;
$animationSpeedz: 20s;
// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));  //width from here
  }
}
@keyframes scrollStudent {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-420px * 12));  //width from here
  }
}

// Styling
.slider {
  background: #fdfdfd;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;

  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide_track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px *2);
  }

  .slide {
    height: 100px;
    width: fit-content;
    margin: 0 10%;
  }
 
}


.sliderStudent{

 

  height: 100vh;

  overflow: hidden;
  position: relative;



  // &::before,
  // &::after {
  //   @include white-gradient;
  //   content: "";
  //   height: 100vh;
  //   position: absolute;
  //   width: 100vw;
  //   z-index: 2;
  // }

  // &::after {
  //   right: 30%;
  // left: 30%;
  //   transform: rotateZ(90deg);
  // }

  // &::before {
  //   left: 0;
  //   top: 0;
  // }

  .slide_trackStudent {
    animation: scrollStudent $animationSpeedz linear infinite;
    display: flex;
    width: calc(250px * 5);
    
  }

  .slideStudent {
    height: 100vh;
    width: 100vw;
    margin-left: 40%;
    margin-right: 40%;
  }
}

@media screen and (max-width:850px)
{
  .slideStudent{
height: 50vh;
width: 50vw;
  }
  .sliderStudent{
    width: 100vw;
    }
}
@media  screen and (min-width:496px) {
  .slider3{
    display: none;
    width: 0vw;
    
  }

}
@media  screen and (max-width:950px) {
  .sliderStudent{
    display: none;
    width: 0vw;
  }

  .slider3{
    display: none;
    width: 0vw;
    
  }

}

.slider3 {
  background: #fdfdfd;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 120px;

  overflow: hidden;
  position: relative;
  margin-top: 15%;
margin-bottom: 25%;
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide_track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 150px;
    width: 250px;
  }
 
}
