.main-other-page-comp-div-3 {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 12px;
  position: relative;
  background-color: #6b6b69;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.main-other-page-comp-div-3:hover {
  transform: scale(1.02);
}

.main-other-page-comp-div-3 .image-div {
  width: 80%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
  aspect-ratio: 214.86/186.17;
  overflow: hidden;
  margin: 30px 0 0 40px;
  z-index: 1;
  border-radius: 12px;
}

@media screen and (max-width: 480px) {
  .main-other-page-comp-div-3 {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Creates a square aspect ratio */
    position: relative;
  }

  .main-other-page-comp-div-3:hover {
    transform: none;
  }

  .main-other-page-comp-div-3 .image-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 70%;
    height: auto;
    margin: 0;
    display: block;
  }
}
