.main-other-page-comp-div {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.main-other-page-comp-div:hover {
  transform: scale(1.02);
}

.main-other-page-comp-div .image-div {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 12px;
  object-fit: cover;
}

.heading-md{
  font-size: 24px;
  font-weight: 600;
  color: #0A3F51;
  margin-bottom: 20px;
  text-align: left;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .main-other-page-comp-div {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* This creates a square aspect ratio */
    position: relative;
  }

  .main-other-page-comp-div .image-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-other-page-comp-div:hover {
    transform: none;
  }
}
