.skills-resume-main-div {
  max-width: 394px;
  height: auto;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}
.skills-resume-main-div .skills-box-main {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-resume-main-div .skills-box {
  padding: 8px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(19, 131, 130, 0.05);
  border-radius: 10px;
  width: auto;
  height: 36px;
  font-size: 14;
  font-weight: 400;
  line-height: 20px;
  color: #002b36;
}
