.event--btns {
  justify-content: space-between;
}

.Prize {
  border: none;
  /* background-color: #ffc700; */
  background-color: rgba(225, 215, 28, 1);
  /* color: rgba(255, 255, 255, 1); */
  color: rgb(26 91 98);
  border-radius: 14px;
  width: 52px;
  height: 32px;
  font-size: 13px;
}
.card-text {
  font-size: 0.87rem;
}
.card-title {
  padding: 2%;
  font-weight: 600;
}
.cardEvent {
  margin-left: 12%;
  padding-top: 5%;
  width: 19rem ; 
}
.Register {
  width: 100px;
  height: 47px;
  position: relative;
  left: 39%;
}


.event-box {
  margin-left: 0%;
}

