.digi-main-container {
  max-width: 324px;
  /* height: 183px; */
  position: relative;
}

.digi-img-container {
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.digi-img-container .digital-chip {
  position: absolute;
  top: 12px;
  left: 16px;
}

.popular-star {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 0px 16px;
  bottom: 17px;
  left: 0;
}

.digi-content-container {
  padding: 16px;
  background-color: #f3f9f9;
}

.digi-content-container .digi-h2 {
  color: #002b36;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  word-break: break-word;
  /* word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.digi-h4 {
  color: #547178;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.purchase-btn button {
  width: 140px;
  height: 44px;
  background-color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #138382;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 19px;
  word-wrap: break-word;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.purchase-btn button:hover {
  background-color: #138382;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 520px) {
  .digi-main-container {
    max-width: 324px;
    height: 100%;
  }
}
