.Bio-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Bio-modal-overlay .Bio-modal {
  background: white;
  width: 100%;
  max-width: 588px;
  border-radius: 16px;
  padding: 32px;
  position: relative;
}

.Bio-modal-overlay .Bio-modal .modal-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.Bio-modal .modal-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.Bio-modal .close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.Bio-modal .modal-content {
  margin-top: 0px;
}

.Bio-modal .modal-subtitle {
  font-size: 16px;
  color: #547178;
  margin-bottom: 20px;
}

.Bio-modal .form-div-modal {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.Bio-modal .bio-div-inner-project {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Bio-modal .modal-div-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.Bio-modal .modal-button-div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.Bio-modal .cancel-modal-btn,
.save-modal-btn {
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #138382;
}

.Bio-modal .cancel-modal-btn {
  background: #f5f5f5;
  border: none;
}

.Bio-modal .save-modal-btn {
  background: #138382;
  color: white;
  border: none;
}

.Bio-modal .required-indicator {
  color: #ff3737;
  margin-left: 2px;
}

.Bio-modal .error-p {
  color: #f00;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}
.Bio-modal .input-css-title-link {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #cccccc;
}
.Bio-modal .input-css {
  width: 250px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #cccccc;
}

.Bio-modall .input-css::placeholder,
.input-css-title-link::placeholder {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #547178;
}

.Bio-modal .label-css {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #002b36;
}
.Bio-modal .relative-end-date,
.relative-start-date {
  position: relative;
}

.Bio-modal .img-calendar-project {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
}

.Bio-modal .project-desc {
  width: 100%;
}

.Bio-modal .image-input-main-div.error .img-calendar-project {
  top: 50%;
}

@media screen and (max-width: 520px) {
  .Bio-modal-overlay .Bio-modal {
    background: white;
    width: 100%;
    height: 100vh;
    max-width: 588px;
    border-radius: 16px;
    padding: 18px;
    position: relative;
  }

  .Bio-modal .bio-div-inner-project {
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .Bio-modal .modal-button-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
