.profile-dashboard-edit-start-div {
  display: flex;
  flex-direction: row;
  padding: var(--vertical-padding) var(--section-padding);
  width: 100%;
  scroll-behavior: auto;
  font-family: "Lato", sans-serif;
  gap: 16px;
}

.profile-dashboard-edit-start-div .profile-dashboard-edit-left-div {
  width: 367px;
  height: 100%;
}

.profile-dashboard-edit-start-div .profile-dashboard-edit-right-div {
  width: calc(100% - 367px - 16px);
}
.profile-dashboard-edit-start-div {
}

@media screen and (max-width: 820px) {
  .profile-dashboard-edit-start-div {
    flex-direction: column;
    overflow: hidden;
  }

  .profile-dashboard-edit-start-div .profile-dashboard-edit-left-div {
    width: 100%;
  }

  .profile-dashboard-edit-start-div .profile-dashboard-edit-right-div {
    width: 100%;
  }
}
