.mobile-navbar {
  background-color: #fff;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 6px 12px;
  z-index: 20;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
}
.mobile-navbar .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 25%;
  color: #cccccc;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.mobile-navbar .item-container span {
  margin-top: -0.25rem;
  line-height: 16px;
}
.mobile-navbar .item-container:hover .svg path,
.mobile-navbar .item-container:hover .svg rect,
.mobile-navbar .item-container:hover {
  fill: var(--primary-color-green);
  color: var(--primary-color-green);
}
.mobile-navbar .item-container.--is-active .svg path,
.mobile-navbar .item-container.--is-active .svg rect,
.mobile-navbar .item-container.--is-active {
  fill: #138382;
  color: #138382;
}
@media screen and (min-width: 821px) {
  .mobile-navbar {
    display: none;
  }
}
