.mobile-navbar {
  background-color: #168584;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  height: 4.0625rem;
  border-radius: 1.3rem 1.3rem 0 0;
  z-index: 20;
  color: white;
  display: flex;
  font-weight: 400;
  justify-content: space-around;
  font-size: 0.65rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.mobile-navbar > div {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile-navbar > div > .svg {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
}
