.event-card-new {
  padding: 1rem;
  width: 100%;
  background: #fff;
  max-width: 20.75rem;
}
.event-card-new .poster {
  overflow: hidden;
  width: 100%;
  max-height: 18.75rem;
  border-radius: 0.3125rem;
  background: #e8e8e8;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
  position: relative;
}
.event-card-new .poster img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3125rem;
}
.event-card-new .poster .tags-container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
  padding: 0.5rem;
}
.event-card-new .poster .registration-text {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  /* height: 25px; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.event-card-new .poster .registration-text svg {
  position: relative;
  left: 1px;
}
.event-card-new .poster .registration-text .box {
  padding-right: 0.5rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.event-card-new .poster span {
  padding: 0.5rem;
  background: white;
  border-radius: 2rem;
  color: var(--foundation-black-black-800, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
}
/* .event-card-new .tags-container-outside {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}
.event-card-new .tags-container-outside span {
  padding: 0.5rem;
  background: white;
  border-radius: 2rem;
  color: var(--foundation-black-black-800, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
} */

.event-card-new .heading {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  margin-bottom: 0.75rem;
}
.event-card-new .description {
  overflow: hidden;
  color: var(--foundation-black-black-400, #333);
  font-size: 0.875rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
}
.event-card-new .details {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.event-card-new .details .logo {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  aspect-ratio: 1/1;
}
.event-card-new .details .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.event-card-new .details .name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.event-card-new .details .name .title {
  color: var(--foundation-black-black-800, #000);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.event-card-new .details .name .label {
  color: var(--foundation-black-black-800, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
}
