#new-community-sidebar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-radius: 0.625rem;
  background: var(--Primary-500, #002b36);
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

#new-community-sidebar-mobile .option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  color: #b0b0b0;
  width: 100%;
}
#new-community-sidebar-mobile .option svg {
  font-size: 1.5rem;
}
#new-community-sidebar-mobile .option span {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%; /* 0.96394rem */
}

@media screen and (min-width: 810px) {
  #new-community-sidebar-mobile {
    display: none;
  }
}
