.education-resume-main-div {
  max-width: 394px;
  height: auto;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.education-resume-main-div .degree {
  margin-top: 10px;
}
