.main-profile-with-follow-and-mail {
  width: 100%;
  height: auto;
  background-color: var(--primary-color-green);
  padding: 16px;
  border-radius: 16px;
}

.main-profile-with-follow-and-mail .img-share-div {
  display: flex;
  justify-content: space-between;
}

.main-profile-with-follow-and-mail .g2-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.main-profile-with-follow-and-mail .img-thumbsup-div {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.animate {
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.animate:active {
  transform: scale(1.2);
}

.main-profile-with-follow-and-mail .img-thumbsup-div .img-thumbsup {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.main-profile-with-follow-and-mail .name-desc-div {
  margin-top: 10px;
}

.main-profile-with-follow-and-mail .name-desc-div .g-3-text {
  font-size: 22px;
  color: white;
}

.main-profile-with-follow-and-mail .icon-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-profile-with-follow-and-mail .btn-siv-edit-post-share {
  margin-top: 10px;
}

.main-profile-with-follow-and-mail
  .btn-siv-edit-post-share
  button:nth-child(1) {
  /* background-color: transparent; */
  color: white;
  width: 149px;
  padding: 8px;
  height: 40px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 14px;
}

.main-profile-with-follow-and-mail
  .btn-siv-edit-post-share
  button:nth-child(2) {
  margin-left: 8px;
  /* background-color: transparent; */
  color: white;
  width: 149px;
  padding: 8px;
  height: 40px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 14px;
}

.main-profile-with-follow-and-mail
  .btn-siv-edit-post-share
  button:nth-child(3) {
  margin-left: 8px;
  background-color: transparent;
  color: white;
  padding: 8px 34px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 14px;
}

.main-profile-with-follow-and-mail .btn-siv-edit-post-share .btn-default {
  background-color: transparent;
  color: white;
}

.main-profile-with-follow-and-mail .btn-active {
  background-color: #0f6968;
  color: white;
}

.main-profile-with-follow-and-mail .score-update-view {
  background-color: white;
  margin-top: 10px;
  border-radius: 12px;
  width: 100%;
  height: auto;
  padding: 8px 16px;
}

.main-profile-with-follow-and-mail .update-view-trash-download {
  display: flex;
  justify-content: space-between;
}

.main-profile-with-follow-and-mail
  .update-view-trash-download
  .update-view-btn
  button {
  padding: 6px 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); */
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #138382;
  background-color: transparent;
}

.main-profile-with-follow-and-mail .download-trash-icon {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 520px) {
  .main-profile-with-follow-and-mail
    .btn-siv-edit-post-share
    button:nth-child(1) {
    /* background-color: transparent; */
    color: white;
    width: 50%;
    padding: 8px;
    height: 40px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 14px;
  }

  .main-profile-with-follow-and-mail
    .btn-siv-edit-post-share
    button:nth-child(2) {
    margin-left: 8px;
    /* background-color: transparent; */
    color: white;
    width: 47%;
    padding: 8px;
    height: 40px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 14px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #ffffff 90%, #cecece00) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.main-profile-with-follow-and-mail .loader-new-saif1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-new-saif1::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
