:root {
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.9);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all 0.7s ease-in-out;
  --anim-duration: 1.5s;
}

.below-host-main-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
}

.below-host-main-div:hover {
  background-color: rgba(230, 234, 235, 1);
  font-weight: 500;
  border-radius: 5px;
}

.below-host-main-div .below-host-left-main-div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.below-host-main-div .below-host-left-main-div .item {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding: 0.5rem 0.57rem;
  background-color: transparent;
  border: none;
  border-radius: 0.3125rem;
  height: 3rem;
  align-items: center;
}
.below-host-main-div .below-host-right-main-div .btn-shine {
  width: 80px;
  padding: 4px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  /* border: 1px solid #8fc8e8; */
  /* background: rgba(143, 200, 232, 0.15); */
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: #002b36;
  position: relative;
  overflow: hidden;
}

.below-host-main-div .below-host-right-main-div .btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 100%;
  background: var(--shine-effect);
  animation: shine-effect var(--anim-duration) infinite linear;
}

@keyframes shine-effect {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
