.main-easy-way-to-hire-div {
  width: 1440px;
  height: 615px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.h3-3easy-hire-div .h3-3easy-hire {
  color: #002b36;
  text-align: center;
  font-family: "DM Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
