* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    background-color: #013C4C;
    margin: auto;
    border-radius: 50px;
    padding-bottom: 80px;
  }
  
  .heading {
    font-size: 53px;
    padding-top:60px ;
    padding-left: 48px;
    color: #e1d71c;
  }
  
 .text{ 
  font-family: Poppins;
font-size: 30px;
font-weight: 300;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: white;
padding:30px 48px;
 }
