.pagination-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
.pagination-bar .item {

  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;


}
.pagination-bar .item:hover {
  background-color: var(--primary-color-dark-green);
  color: #fff;
}
.pagination-bar .navigation {
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
}
.pagination-bar .navigation:disabled {
  background-color: #bbbbbb;
  color: #fff;
  cursor: not-allowed;
}

.pagination-bar .item:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination-bar .item:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination-bar .item.--is-active {
  background-color: var(--primary-color-green);
  color: #fff;
}
.pagination-bar .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pagination-bar .item {
    font-size: 0.85rem;
    padding: 0.425rem 0.5rem;
  }
  .pagination-bar .navigation {
    font-size: 1.125rem;
    padding: 0.275rem 0.5rem;
  }
  .pagination-bar .dots {
    font-size: 0.75rem;
  }
}
