.landing-section {
  min-height: 100lvh;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3.8rem;
  position: relative;
  overflow: hidden;
}
.landing-section .content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.landing-section .content .splash-heading {
  color: var(--Primary-500, #002b36);
  text-align: center;
  font-size: 2.45313rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.04906rem;
}
.landing-section .content .splash-subheading {
  color: var(--Primary-500, #002b36);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 39.8125rem;
  margin-bottom: 1rem;
  letter-spacing: -0.025rem;
}
.landing-section .content .waitlist-btn {
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  border: 1px solid var(--Primary-500, #002b36);
  background-color: transparent;
  color: var(--Primary-500, #002b36);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.landing-section .content .waitlist-btn:hover {
  background-color: var(--primary-color-dark-green);
  color: white;
}

.landing-section .content .waitlist-btn .star-svg {
  font-size: 1.125rem;
}
.landing-section .content .waitlist-btn .arrow-svg {
  font-size: 1.5rem;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}
.landing-section .content .waitlist-btn:hover .arrow-svg {
  margin-left: 0.5rem;
}

.landing-section .featured-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.landing-section .featured-container .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  scale: 1;
  transition: scale 0.2s ease-in-out;
  cursor: pointer;
}
.landing-section .featured-container .feature-item:hover {
  scale: 1.025;
  animation-play-state: paused;
}
.landing-section .featured-container .feature-item .image {
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  bottom: -0.25rem;
  background-color: white;
}
.landing-section .featured-container .feature-item .image img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.landing-section .featured-container .feature-item .details {
  display: flex;
  width: 10.625rem;
  max-width: 10.625rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  border-radius: 3.125rem;
  background: #fff;
  box-shadow: 0px 2px 29.6px 0px rgba(0, 0, 0, 0.06);
  z-index: 1;
}
.landing-section .featured-container .feature-item .details span:first-child {
  color: var(--Primary-500, #002b36);
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.landing-section .featured-container .feature-item .details span:last-child {
  color: var(--Primary-400, #33555e);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.landing-section .featured-container #item-1 {
  top: 5vh;
  left: 5vw;
}
.landing-section .featured-container #item-2 {
  top: 22vh;
  left: 20.77vw;
}
.landing-section .featured-container #item-3 {
  top: 42.55vh;
  left: 9.15vw;
}
.landing-section .featured-container #item-4 {
  top: 7.37vh;
  left: 77.5vw;
}
.landing-section .featured-container #item-5 {
  top: 50.11vh;
  left: 31.54vw;
}
.landing-section .featured-container #item-6 {
  top: 32.5vh;
  left: 50.29vw;
}
.landing-section .featured-container #item-7 {
  top: 50vh;
  left: 67.5vw;
}
.landing-section .featured-container #item-8 {
  top: 35vh;
  left: 82vw;
}
.landing-section .featured-container .vibrate-1 {
  animation: vibrate-1 10s cubic-bezier(0.58, 0.36, 0.41, 0.58) 0s infinite
    normal forwards;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
.landing-section .featured-container .vibrate-2 {
  animation: vibrate-2 10s cubic-bezier(0.58, 0.36, 0.41, 0.58) 0s infinite
    normal forwards;
}
@keyframes vibrate-2 {
  0% {
    transform: translate(2px, -2px);
  }

  10% {
    transform: translate(2px, 2px);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  30% {
    transform: translate(2px, -2px);
  }

  40% {
    transform: translate(0);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(-2px, 2px);
  }

  70% {
    transform: translate(2px, -2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(-2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
.landing-section .featured-container .vibrate-3 {
  animation: vibrate-3 10s cubic-bezier(0.58, 0.36, 0.41, 0.58) 0s infinite
    normal forwards;
}
@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(2px, -2px);
  }

  20% {
    transform: translate(-2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  50% {
    transform: translate(2px, 2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  90% {
    transform: translate(-2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
.landing-section .featured-container .vibrate-4 {
  animation: vibrate-4 10s cubic-bezier(0.58, 0.36, 0.41, 0.58) 0s infinite
    normal forwards;
}
@keyframes vibrate-4 {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, 2px);
  }

  20% {
    transform: translate(2px, 2px);
  }

  30% {
    transform: translate(2px, -2px);
  }

  40% {
    transform: translate(2px, -2px);
  }

  50% {
    transform: translate(-2px, 2px);
  }

  60% {
    transform: translate(-2px, -2px);
  }

  70% {
    transform: translate(-2px, -2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  90% {
    transform: translate(-2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
@media screen and (max-width: 960px) {
  .landing-section .featured-container #item-1 {
    top: 11.125vh;
    left: 2vw;
  }
  .landing-section .featured-container #item-4 {
    top: 11vh;
    left: 77.5vw;
  }
}

@media screen and (max-width: 820px) {
  .landing-section .content .splash-heading {
    font-size: 1.375rem;
  }
  .landing-section .content .splash-subheading {
    font-size: 0.875rem;
    max-width: 22.11331rem;
  }
  .landing-section .content .waitlist-btn {
    font-size: 0.75rem;
  }
  .landing-section .content .waitlist-btn .star-svg {
    font-size: 1rem;
  }
  .landing-section .content .waitlist-btn .arrow-svg {
    font-size: 1.25rem;
  }
  .landing-section .featured-container .feature-item .image {
    width: 3.125rem;
    height: 3.125rem;
  }
  .landing-section .featured-container .feature-item .image img {
    object-fit: cover;
    width: 100%;
    object-position: center;
  }
  .landing-section .featured-container .feature-item .details {
    width: 8.75rem;
    max-width: 8.75rem;
    padding: 0.375rem 0.5rem;
  }
  .landing-section .featured-container .feature-item .details span:first-child {
    font-size: 0.75rem;
  }
  .landing-section .featured-container .feature-item .details span:last-child {
    font-size: 0.625rem;
  }
  .landing-section .featured-container #item-8 {
    top: 35vh;
    left: 76vw;
  }
  .landing-section .featured-container #item-7 {
    top: 50vh;
    left: 62.5vw;
  }
  .landing-section .featured-container #item-4 {
    top: 11vh;
    left: 72.5vw;
  }
  .landing-section .featured-container #item-6 {
    top: 28.5vh;
    left: 48.29vw;
  }
}

@media screen and (max-width: 520px) {
  .landing-section .featured-container #item-1 {
    top: 18vh;
    left: 5vw;
  }
  .landing-section .featured-container #item-2 {
    top: 22vh;
    left: 66.77vw;
  }
  .landing-section .featured-container #item-3 {
    top: 45.55vh;
    left: 9.15vw;
  }
  .landing-section .featured-container #item-4 {
    top: 40.37vh;
    left: 70.5vw;
  }
  .landing-section .featured-container #item-5 {
    top: 30.11vh;
    left: 35.54vw;
  }
  .landing-section .featured-container #item-6,
  .landing-section .featured-container #item-7,
  .landing-section .featured-container #item-8 {
    display: none;
  }
}
