.JobDetailHeader {
  width: 100%;
  margin-top: 20px;
}
.JobDetailHeader span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.JobDetailHeader span .imgBox {
  height: 104px;
  aspect-ratio: 1/1;
  background: #f8f8f8;
  border-radius: 50%;
}
.JobDetailHeader span .heads {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 16px;
}
.JobDetailHeader span .heads h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.JobDetailHeader span .heads h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.JobDetailHeader span .btn {
  width: 176px;
  height: 52px;
  background: #128381;
  border-radius: 10px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.JobDetailHeader .Tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 14px 0px;
  flex-wrap: wrap;
}

.JobDetailHeader,
.JobDesc,
.JobReq,
.JobInfo {
  width: 100%;
  padding: 8px 27px;
  margin: 7px 0px;
  background: #fff;
  border-radius: 10px;
}
.JobDesc h5,
.JobReq h5,
.JobInfo h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #002b36;
}
.JobDescription .JobDesc p,
.JobReq ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #242323;
}
.JobDesc p {
  overflow-wrap: anywhere;
}
.JobReq ul {
  list-style-type: disc;
  padding-left: 15px;
}
.JobInfo .JobInfoItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  padding-bottom: 45px;
}
.JobInfo .JobInfoItems-date {
  padding-bottom: 20px;
}

.JobInfo .JobInfoItems .JobInfoItem {
  width: 286px;
  height: 92px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.065);
  border-radius: 10px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 11px 13px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.JobInfo .JobInfoItems .JobInfoItem h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
}
.JobInfo .JobInfoItems .JobInfoItem span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #014051;
  z-index: 2;
  max-width: calc(100% - 50px);
}
.JobInfo .JobInfoItems .JobInfoItem svg {
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: 1;
  width: 50px;
}
#quill-job-description a {
  color: rgb(66, 136, 249);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .JobInfo .JobInfoItems .JobInfoItem svg {
    width: 60px;
  }
  .JobDetailHeader span .imgBox {
    width: 65px;
    height: 57px;
  }
  .JobDetailHeader span .heads h1,
  .JobDetailHeader span .heads a,
  .JobDetailHeader span .heads h3 {
    font-size: 12px;
    line-height: 17px;
  }
  .JobDetailHeader span .btn {
    width: 76px;
    height: 35px;
    font-size: 10px;
    line-height: 12px;
  }
  .JobDesc h5,
  .JobReq h5,
  .JobInfo h5 {
    font-size: 14px;
    line-height: 19px;
  }
  .JobDescription .JobDesc p,
  .JobReq ul li {
    font-size: 12px;
    line-height: 16px;
    color: #242323;
  }
  .JobReq ul {
    padding-left: 30px;
  }
  .JobInfo div .JobInfoItem h6 {
    font-size: 10px;
    line-height: 12px;
  }
  .JobInfo div .JobInfoItem span {
    font-size: 20px;
    line-height: 24px;
  }
  .JobInfo .JobInfoItems .JobInfoItem span {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .JobDetailHeader > span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .JobDetailHeader > span > .apply-btn-container {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 440px) {
  .JobInfo .JobInfoItems .JobInfoItem {
    width: 100%;
  }
  .JobDetailHeader,
  .JobDesc,
  .JobReq,
  .JobInfo {
    min-width: 0;
  }
}
