@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.CompanyJobDetails {
  padding: 30px 50px;
  background: #eeffff;
}

.CompanyJobDetails h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #014051;
}
.CompanyJobDetails p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #002b36;
}
.CompanyJobDetails .search {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
  border-radius: 10px;
  margin-top: 56px;
}
.CompanyJobDetails .search span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
  width: 321px;
  height: 36px;
  background: rgba(250, 250, 250, 0.93);
  color: rgba(60, 60, 67, 0.6);
  border-radius: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.CompanyJobDetails .search input {
  width: 90%;
  border: none;
  background: transparent;
}
.CompanyJobDetails .search input:focus {
  outline: none;
}
.CompanyJobDetails .search .filters {
  cursor: pointer;
  margin-left: 7px;
  height: 35px;
  width: 35px;
  background: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.CompanyJobDetails .Jobs {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 55px;
  padding-bottom: 100px;
}
.CompanyJobDetails .Jobs .JobTiles {
  min-width: 330px;
  height: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 30%;
  overflow-y: scroll;
}
.CompanyJobDetails .Jobs .JobDetail {
  width: 60%;
  display: "block";
  min-width: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0 20px 20px 20px;
}

@media screen and (max-width: 1024px) {
  .CompanyJobDetails .Jobs .JobTiles {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .CompanyJobDetails {
    padding: 0px 20px;
  }
  .CompanyJobDetails h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .CompanyJobDetails p {
    font-size: 14px;
    line-height: 17px;
  }
  .CompanyJobDetails .search span {
    width: 321px;
    background: #ffffff;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.12);
    border-radius: 78px;
    height: 44px;
    color: #919293;
    font-size: 16px;
  }
  .CompanyJobDetails .search .filters {
    display: none;
  }
  .CompanyJobDetails .Jobs .JobTiles {
    display: none;
  }
  .CompanyJobDetails .Jobs .JobDetail {
    width: 348px;
    min-width: 250px;
  }
}
