@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.CompanyJob {
  padding: 30px 150px;
  background: #eeffff;
  min-height: 100lvh;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
}

.CompanyJob h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #014051;
}
.CompanyJob p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #002b36;
}
.CompanyJob .search {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
  border-radius: 10px;
  margin-top: 56px;
}
.CompanyJob .search span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
  width: 321px;
  height: 36px;
  background: rgba(250, 250, 250, 0.93);
  color: rgba(60, 60, 67, 0.6);
  border-radius: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.CompanyJob .search input {
  width: 90%;
  border: none;
  background: transparent;
}
.CompanyJob .search input:focus {
  outline: none;
}
.CompanyJob .search .filters {
  cursor: pointer;
  margin-left: 7px;
  height: 35px;
  width: 35px;
  background: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.CompanyJob .Jobs {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 55px;
  padding-bottom: 100px;
}
.CompanyJob .Jobs .JobTiles {
  min-width: 330px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.company_searchbar_container {
  margin: 0 auto;
  display: relative;
}
.JobTiles {
  position: relative;
  padding-top: 0.25rem;
}
.company_searchbar_container__aside {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  max-width: 20.2rem;
  height: fit-content;
}

.CompanyJob .job-tags {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.CompanyJob .job-tags .tag {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.CompanyJob .job-tags .tag:hover {
  background-color: #014051;
  color: #fff;
}
.CompanyJob .job-tags .tag:active {
  transform: scale(0.95);
}
.CompanyJob .job-tags .tag.--is-active {
  background-color: var(--primary-color-yellow);
  color: #000;
}

@media screen and (max-width: 600px) {
  .CompanyJob {
    padding: 30px 20px;
  }
  .CompanyJob h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .CompanyJob p {
    font-size: 14px;
    line-height: 17px;
  }
  .CompanyJob .search span {
    width: 321px;
    background: #ffffff;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.12);
    border-radius: 78px;
    height: 44px;
    color: #919293;
    font-size: 16px;
  }
  .CompanyJob .search .filters {
    display: none;
  }
  .CompanyJob .Jobs .JobTiles {
    min-width: 300px;
  }
}
