.filters-container {
  position: relative;
}
.filters-container .filters-btn-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  padding: 0 0 0.5rem;
  position: relative;
}
.filters-container .filters-btn-container .filter-btn {
  padding: 0.65625rem 1rem;
  border-radius: 99999px;
  border: none;
  text-wrap: nowrap;
  color: black;
}
.filters-container .filter-box {
  position: absolute;
  z-index: 5;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 16px 70px #0003;
  width: min(100%, 24.375rem);
  overflow: hidden;
}
.filters-container .filter-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 20rem;
  overflow: auto;
}
.filters-container .filter-box ul li {
  display: flex;
  cursor: pointer;
}
.filters-container .filter-box ul li .filter-opt-label {
  width: 100%;
  padding: 1rem 1.75rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.filters-container .filter-box ul li .filter-opt-input {
  min-width: 24px;
  min-height: 24px;
  border-radius: 5px;
}

.filters-container .filter-box .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.filters-container .filter-box .top-container .close-btn {
  border: none;
  background-color: transparent;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-container .filter-box .bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #f5f5f5;
}
.filters-container .filter-box .bottom-container .clear-btn {
  border: none;
  background-color: transparent;
}
.filters-container .filter-box .bottom-container .apply-btn {
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  background-color: var(--primary-color-green);
  border-radius: 5px;
}

/* Positioning of desktop modals */

.filters-container .experience-container {
  left: 17.5rem;
}

.filters-container .job-type-container {
  left: 26.75rem;
}

.filters-container .job-mode-container {
  left: 35rem;
}
.filters-container .location-container {
  left: 44rem;
}

@media screen and (max-width: 1320px) {
  .filters-container .location-container {
    left: 26rem;
  }
}

@media screen and (max-width: 1150px) {
  .filters-container .job-mode-container {
    left: 18rem;
  }
}

@media screen and (max-width: 1000px) {
  .filters-container .job-type-container {
    left: 9.25rem;
  }
}

@media screen and (max-width: 990px) {
  .filters-container .location-container {
    left: 20rem;
  }
}

@media screen and (max-width: 820px) {
  .filters-container .experience-container {
    left: 16rem;
  }
  .filters-container .job-type-container {
    left: 6rem;
  }
  .filters-container .job-mode-container {
    left: 14rem;
  }
  .filters-container .location-container {
    left: 16rem;
  }
}

@media screen and (max-width: 750px) {
  .filter-box {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
