.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  
  .modalContainer {
    width: 500px;
    height: 700px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }
  .closingCancel{
    padding: 1%;
    width: 40px;
  }
  .modal-form{
    position: relative;
  }
  .close-btn{
    position: absolute;
    transition: transform .25s, opacity .25s;
    opacity: .7;
    cursor: pointer;
    font-size: 3em;
    font-family: serif;
    line-height: 1;
  }
  .close-btn:before{
    content: "\d7";
  }
  .close-btn:hover{
    opacity: 1;
    transform: rotate(90deg);
  }
  @media screen and (max-width:600px)
  {
    .containerModal{
      height: 50vh;
      width: 60vw;
    }
    .signfieldModal{
      position: relative;
      left: -20%;
      height: 7vh;
      width: 60vw;
    }
  .myLowerform
  {
    height: 40vh;
    width: 60vw;
  }
  .modalheadt{
    font-size:1.2rem ;
  }
  }
  @media screen and (max-width:450px)
  {
    .containerModal{
      height: 100vh;
      width: 55vw;
    }
  .myLowerform
  {
    height: 100vh;
    width: 55vw;
  }
  .siModal{
    font-size: 0.8rem;
    position: relative;
    top: -2%;
    left: -10%;
    width: 60vw;
    height: 7vh;
  }
  .imageEhubmain{
    height: 230px;
    width: 230px;
  }
 .modalContainer{
  height: 1000px;
  width: 500px;
 }
 .modal-form{
  position: relative;
  top: -10%;
  left: 140%;
 }
  }
  @media screen and (max-width:385px)
  { 
    .imageEhubmain{
      height: 230px;
      width: 230px;
    }
    .siModal{
      font-size: 0.8rem;
      position: relative;
      top: 15%;
      left: -10%;
      width: 60vw;
      height: 7vh;
    }
    .my-item-cont{
      position: relative;
      top: 10%;
    }
    .modal-form{
      position: relative;
      top: -12%;
      left: 100%;
     }

  }

