@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.f-p:nth-child(2) {
  text-decoration: none;
  padding-left: 10px;
}
.captchaf {
  margin-left: 5%;
}
.cpf {
  margin-left: -5%;
}
.reg {
  padding: 20px !important;
  width: fit-content !important;
}
.passwordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.passwordContainer div {
  position: absolute;
  right: 20px;
}

.reg-field {
  flex-direction: row !important;
  gap: 24px;
}

.reg-si {
  background: #168584;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.registerPagePass {
  position: relative;
  top: 95%;
  left: -10%;
}
.registerSSS:hover {
  background-color: var(--primary-color-dark-green);
}
.registerSSS:active {
  background-color: #00323f;
}
@media screen and (max-width: 456px) {
  .reg-input {
    width: 60vw;
  }
  .reg-si {
    width: 70vw;
  }
  .reg-field {
    width: 70vw;
  }
  .cpf {
    margin-left: 0%;
  }
  .registerPagePass {
    position: relative;
    top: 95%;
    left: 10%;
    margin-bottom: 10%;
  }
  .registerSSS {
    margin-top: 18%;
  }
}

.my-form-head {
  font-weight: bold;
  font-size: 40px;
}
.cont {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 24px;
  /* margin: 2px auto 0px auto; */
  height: fit-content;
  width: fit-content;
  max-width: 480px;
  width: 100%;
}
.cont-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: #05555e;
  font-weight: 700;
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
}
.form-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.f-p {
  color: #168584;
  text-decoration: underline;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.form-opt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-btn {
  padding: 5px;
  border-radius: 16px;
  margin: 5px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: -0.41px;
  height: 60px;
  width: 100%;
}
.reg-input {
  /* background-color: aqua; */
  padding: 10px;
  border-radius: 5px;
  height: 60px;
  margin: 5px 0;
  border: 1px solid #eeeeee;
  font-size: 1rem;
  width: 100%;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}
.si {
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: #05555e;
  color: white;
  text-decoration: none;
}

.si:hover {
  color: white;
}

/* .divisor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
 
} */

.reg-input:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-opt {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center;
  border-radius: 16px;
  /* color: white; */
  border: 1px solid #969696;
  cursor: pointer;

  width: 336px;
  height: 56px;
  transition: all 300ms ease-in-out;
}

.sign-opt:hover {
  box-shadow: 2px 2px 4px rgba(156, 156, 156, 0.781);
  transform: scale(1.02);
}
.sign-opt img {
  padding: 0 2px;
  width: 25px;
}
.sign-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.my-border {
  border-bottom: 2px solid #cacaca2b;
  width: 250px;
  margin: auto;
  padding: 10px;
}

.my-item-cont {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.Login .f-p {
  text-decoration: none;
}
.Login .f-p:hover {
  text-decoration: underline;
}
.forgot-password-text {
  width: 100%;
}

.error_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #002a36;
  margin-bottom: 0.7%;
  opacity: 1;
}
@media screen and (max-width: 1400px) {
  .login-left-container {
    display: none;
  }
  .login-right-container {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 456px) {
  .cont {
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .form-cont {
    max-width: 90vw;
  }
}

@media screen and (max-width: 376px) {
  .cont {
    padding: 10px 0px;
  }
}
.positionRelBottom {
  position: relative;
  top: 15px;
}
