.terms-breadcrumb-main-div {
  width: 100%;
  height: auto;
  background-color: #128381;
  padding: 40px var(--section-padding);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.terms-breadcrumb-main-div .terms-breadcrumb-inner-div .terms-h4 {
  color: white;
  font-size: 28px;
  font-family: Inter;
  font-weight: 700;
  line-height: 38px;
  word-wrap: break-word;
}

.terms-breadcrumb-main-div .terms-breadcrumb-inner-div .terms-p {
  color: rgb(235, 235, 235);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

@media screen and (max-width: 520px) {
  .terms-breadcrumb-main-div {
    padding: 20px 16px;
    background-color: #128381;
  }
}