.chat-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
}
.chat-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .chat-page {
    padding: 5.5rem 0;
  }
  .chat-section {
    height: 100vh;
  }
}
