.navbar {
  --navbar-background-color: rgb(96, 243, 242, 0.75);
  height: 6.7rem;
  padding: 0 var(--section-padding);
  background-image: linear-gradient(
    var(--navbar-background-color),
    rgb(96, 243, 242, 0.25),
    var(--main-background-color)
  );
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 5;
}

.container-fluid {
  padding: 0;
}

.logo {
  height: 100%;
  width: clamp(4rem, 100vw, 6.5rem);
}
.navbar-collapse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  display: none;
}

.nav-middle-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
  width: 7.5rem;
}

.nav-login-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.9rem;
}

.nav-logged-in-btn {
}

.nav-user-thumbnail {
  position: relative;
  left: -0.25rem;
  padding: 0;
  height: 1.6rem;
  width: 1.6rem;
  min-width: 1.6rem;
  min-height: 1.6rem;
  border-radius: 50%;
}

.nav-username {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.9rem;
}

@media screen and (max-width: 900px) {
  .nav-username {
    display: none;
  }
  .nav-user-thumbnail {
    left: 0;
    height: 1.9rem;
    width: 1.9rem;
  }
  .nav-logged-in-btn {
    background-color: transparent !important;
  }
}
