.main-company-new-dashbooard-div {
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  background-color: #fafafa !important;
}

.main-company-new-dashbooard-div .about-comp-main {
  display: none;
}

@media screen and (max-width: 820px) {
  .main-company-new-dashbooard-div .about-comp-main {
    display: block;
  }
}
