.event__list__item .heading {
  font-size: 0.6rem;
  font-weight: 400;
  color: #fff;
  margin: 0.5rem 0 0.2rem;
  background-color: var(--primary-color-dark-green);
  width: fit-content;
  padding: 0.2rem 0.5rem;
}
.event__list__item .title {
  max-height: 2.85rem;
  white-space: normal;
  line-height: 1.2rem;
}
.event__list__item .description {
  margin-top: 0.5rem;
  height: fit-content;
  max-height: 5.5rem;
}
.event__list__item {
  height: 31.5rem;
}
