.timeline__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5em 0;
}
.timeline__container > .timeline-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.timeline__container > .timeline-buttons > .form-button {
  background-color: var(--main-background-color);
  color: #a1a1a1;
  border-radius: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  z-index: 3;
  border: 2px solid #a1a1a1;
  text-align: center;
}
.timeline__container > .timeline-buttons > .line {
  position: absolute;
  border: 1px dashed #a1a1a1;
}

@media screen and (max-width: 530px) {
  .timeline__container > .timeline-buttons > .form-button {
    padding: 0.3rem 0.75rem;
    font-size: 0.8rem;
    z-index: 3;
    width: 2.5rem;
  }
}
