.main-div-card-job-4 {
  width: 233px;
  height: 227px;
  flex-shrink: 0;
  border-radius: 21px;
  position: relative;
  padding: 4px 10px;
  margin: 0 auto;
}

.main-div-card-job-4 .heading-job-filter-card {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 139px;
  height: 42px;
  flex-shrink: 0;
  z-index: 1;
}

.main-div-card-job-4 .heading-job-filter-card .filter-cardheading-h4 {
  color: #002b36;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  font-family: "Lato";
  line-height: 24px;
}

.main-4th-img {
  position: absolute;
  top: -20px;
  left: -30px;
}
