.main-div-card-job-2 {
  width: 233px;
  height: 227px;
  flex-shrink: 0;
  border-radius: 21px;
  background: rgba(143, 200, 232, 0.39);
  position: relative;
  /* border: 1px solid black; */
  box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.25);

  padding: 4px 10px;
  margin: 0 auto;
}

.main-div-card-job-2 .heading-job-filter-card {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 139px;
  height: 42px;
  flex-shrink: 0;
}

.main-div-card-job-2 .heading-job-filter-card .filter-cardheading-h4 {
  color: #002b36;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  font-family: "Lato";
  line-height: 24px;
}

.main-div-card-job-2 .parent-svg {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 1;
}
.main-div-card-job-2 .child-svg {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
}
