.add-certifications-main-div {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.add-certifications-main-div .add-headline-sub-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.certi-display-div {
  width: 100%;
}

.certi-display-sub-div {
  display: flex;
  justify-content: space-between;
}
