.custom-card-2{
    width: 350px;
    border-radius: 16px;
    display: flex;
    transition: all 250ms ease-in-out;
}
custom-card-text-2{
    font-size: 0.7rem;
}
.custom-card-btn-2{
    padding: 0px 10px !important;
}
.custom-card-body-2{
    padding: 2px !important;
}