.particular-alumni-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
}
.particular-alumni-page > .alumni-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: min-content;
  overflow-y: auto;
  width: 21rem;
  max-height: 50.4375rem;
  padding-top: 0.2rem;
  /* width: 20rem; */
  /* height: 100%; */
  /* overflow-y: auto; */
}

.particular-alumni-page > .details-container {
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
}
.particular-alumni-page > .details-container > .section {
  max-width: 48.125rem;
  width: 48.125rem;
  background-color: white;
  padding: 1.1875rem 1.5rem;
  border-radius: 0.625rem;
}
.particular-alumni-page > .details-container > .info-container {
  display: flex;
  flex-direction: column;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .batch-lg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .batch-lg-container
  > .batch {
  font-weight: 600;
  color: black;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .batch-lg-container
  > .batch
  > span {
  color: #808080;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .batch-lg-container
  > .socials {
  display: flex;
  gap: 0.625rem;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .image {
  width: 6.25rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 1.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .info
  > .name {
  font-size: 1.25rem;
  font-weight: 600;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .info
  > .designation {
  font-weight: 600;
  color: #808080;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .info
  > .batch-md {
  font-weight: 600;
  color: black;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .info
  > .batch-md
  > span {
  color: #808080;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .options-container {
  position: absolute;
  right: 0;
  gap: 1rem;
  display: flex;
}

.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .options-container
  > button {
  font-weight: 500;
  font-size: 0.875rem;
  width: 7.625rem;
  height: 2.75rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-color-dark-green);
  background-color: white;
  color: var(--primary-color-dark-green);
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .options-container
  > button:hover {
  border: 2px solid var(--primary-color-green);
  background-color: var(--primary-color-green);
  color: white;
}
.particular-alumni-page
  > .details-container
  > .info-container
  > .personal-info
  > .options-container
  > button:active {
  border: 2px solid var(--primary-color-dark-green);
  background-color: var(--primary-color-dark-green);
  color: white;
}

.particular-alumni-page > .details-container > .socials-container {
  display: none;
}
.particular-alumni-page > .details-container > .socials-container > .title {
  font-weight: 600;
}
.particular-alumni-page > .details-container > .socials-container > .socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}
.particular-alumni-page > .details-container > .about-container > .title {
  font-weight: 600;
}
.particular-alumni-page > .details-container > .about-container > .about {
  font-weight: 500;
  color: #808080;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.particular-alumni-page > .details-container > .connect-container > .title {
  font-weight: 600;
}
.particular-alumni-page > .details-container > .connect-container > .connect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.8125rem 3.4375rem;
  margin-top: 1.5rem;
}
.particular-alumni-page
  > .details-container
  > .connect-container
  > .connect
  > .connect-card {
  width: 17.875rem;
  height: 10.1875rem;
  background-color: var(--main-background-color);
  padding: 1rem 0.65rem;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.particular-alumni-page
  > .details-container
  > .connect-container
  > .connect
  > .connect-card
  > .title {
  font-weight: 600;
  font-size: 1.25rem;
}
.particular-alumni-page
  > .details-container
  > .connect-container
  > .connect
  > .connect-card
  > .info {
  font-weight: 500;
  font-size: 0.75rem;
}

@media screen and (max-width: 1450px) {
  .particular-alumni-page {
    gap: 2rem;
  }
}
@media screen and (max-width: 1365px) {
  .particular-alumni-page {
    gap: 0.75rem;
  }
}
@media screen and (max-width: 1345px) {
  .particular-alumni-page > .alumni-list {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .particular-alumni-page > .details-container > .section {
    width: 100%;
  }
  .particular-alumni-page > .details-container > .connect-container > .connect {
    gap: 1.5rem 1.5rem;
    justify-content: space-evenly;
  }
  .particular-alumni-page
    > .details-container
    > .connect-container
    > .connect
    > .connect-card {
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 769px) {
  .particular-alumni-page
    > .details-container
    > .info-container
    > .personal-info
    > .info
    > .batch-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .particular-alumni-page
    > .details-container
    > .info-container
    > .batch-lg-container {
    display: none;
  }
  .particular-alumni-page
    > .details-container
    > .info-container
    > .personal-info
    > .options-container {
    flex-direction: column;
  }
  .particular-alumni-page > .details-container > .socials-container {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .particular-alumni-page
    > .details-container
    > .info-container
    > .personal-info
    > .image {
    width: 4.375rem;
    margin-right: 1rem;
  }
  .particular-alumni-page
    > .details-container
    > .info-container
    > .personal-info
    > .info
    > .name {
    font-size: 1rem;
  }
  .particular-alumni-page
    > .details-container
    > .info-container
    > .personal-info
    > .info
    > .designation {
    font-size: 0.75rem;
  }
  .particular-alumni-page
    > .details-container
    > .info-container
    > .personal-info
    > .info
    > .batch-md {
    font-size: 0.675rem;
  }
  .particular-alumni-page
    > .details-container
    > .info-container
    > .personal-info
    > .info
    > .batch-md
    > span {
    font-size: 0.675rem;
  }
}

@media screen and (max-width: 450px) {
  .particular-alumni-page
    > .details-container
    > .connect-container
    > .connect
    > .connect-card {
    width: 16.875rem;
    height: 9.1875rem;
    background-color: var(--main-background-color);
    padding: 1rem 0.65rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .particular-alumni-page > .details-container > .section {
    padding: 0.5rem;
  }
}
