.image-carousel__outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}
.image-carousel__outer-container > .arrow {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0 1rem;
  cursor: pointer;
}
.image-carousel__outer-container > .inner-container {
  width: 60rem;
  max-height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  /* scroll-padding-block-start: ; */
}
.image-carousel__outer-container > .inner-container > .image-container {
  min-width: 30rem;
  min-height: 20rem;
  scroll-snap-align: center;
  margin: 0 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

@media screen and (max-width: 820px) {
  .image-carousel__outer-container {
    padding: 1rem;
  }
  .image-carousel__outer-container > .arrow {
    font-size: 3.25rem;
    margin: 0 0.5rem;
  }
  .image-carousel__outer-container > .inner-container > .image-container {
    min-width: 20rem;
    min-height: 15rem;
  }

  /* .image-carousel__outer-container > .inner-container {
    width: 100%;
    max-height: 20rem;
  } */
}

@media screen and (max-width: 600px) {
  .image-carousel__outer-container {
    padding: 1rem 0;
  }

  .image-carousel__outer-container > .inner-container > .image-container {
    min-width: 15rem;
    min-height: 10rem;
  }
}

.particular-campus-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
}
.particular-campus-page > .image-carousel__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.particular-campus-page > .image-carousel__container > .image-carousel {
  width: 30rem;
}
.particular-campus-page > .details-tab {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
}
.particular-campus-page > .details-tab > .details {
  display: flex;
  flex-direction: row;
}
.particular-campus-page > .details-tab > .details > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.particular-campus-page > .details-tab > .details > div:nth-child(1) {
  align-items: center;
}

.particular-campus-page > .details-tab > .details > div > img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.particular-campus-page > .details-tab > .details > div > .title {
  font-size: 1.5rem;
  font-weight: 600;
}
.particular-campus-page > .details-tab > .details > div > .location {
  font-size: 0.875rem;
  color: #898989;
  font-weight: 400;
}
.particular-campus-page > .details-tab > .details > div > .rating {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 400;
}
.particular-campus-page
  > .details-tab
  > .details
  > div
  > .rating
  > .rating__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  font-size: 1rem;
}
.particular-campus-page
  > .details-tab
  > .details
  > div
  > .rating
  > .rating__number {
  color: #898989;
}
.particular-campus-page > .details-tab .view-more {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.particular-campus-page > .about {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 1.2rem 1.5rem;
  border-radius: 0.2rem;
  gap: 1rem;
}
.particular-campus-page > .about > .heading {
  font-size: 1rem;
  font-weight: 600;
}
.particular-campus-page > .about > .description {
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .particular-campus-page > .details-tab {
    flex-direction: row;
    align-items: center;
  }
  .particular-campus-page > .details-tab > .details > div > img {
    width: 3rem;
    height: 3rem;
  }
  .particular-campus-page > .details-tab > .details > div > .title {
    font-size: 1.2rem;
  }
  .particular-campus-page > .details-tab > .details > div > .location {
    font-size: 0.75rem;
  }
  .particular-campus-page > .details-tab > .details > div > .rating {
    font-size: 0.75rem;
  }
  .particular-campus-page
    > .details-tab
    > .details
    > div
    > .rating
    > .rating__stars {
    font-size: 0.75rem;
  }
  .particular-campus-page
    > .details-tab
    > .details
    > div
    > .rating
    > .rating__number {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 650px) {
  .particular-campus-page > .details-tab {
    flex-direction: column;
    align-items: flex-start;
  }
  .particular-campus-page > .details-tab > .details {
    margin-top: 1rem;
  }
  .particular-campus-page > .details-tab > .details > div {
    margin-right: 1rem;
  }
  .particular-campus-page > .details-tab > .details > div > img {
    width: 3rem;
    height: 3rem;
  }
  .particular-campus-page > .details-tab > .details > div > .title {
    font-size: 1.2rem;
  }
  .particular-campus-page > .details-tab > .details > div > .location {
    font-size: 0.75rem;
  }
  .particular-campus-page > .details-tab > .details > div > .rating {
    font-size: 0.75rem;
  }
  .particular-campus-page
    > .details-tab
    > .details
    > div
    > .rating
    > .rating__stars {
    font-size: 0.75rem;
  }
  .particular-campus-page
    > .details-tab
    > .details
    > div
    > .rating
    > .rating__number {
    font-size: 0.75rem;
  }
  .particular-campus-page > .details-tab > .view-more {
    margin-top: 1rem;
  }
}
