.containerccc{
    background-color: 
    #e6eff8;
}
.upperContainer{
width: 102vw;
padding: auto;

height: 80vh;
background: linear-gradient(90.05deg, #128381 -2.71%, #002A36 46.69%, #002A36 94.47%);

}
.udaantxt{
    color: #fff;
}
ul {
    list-style: none;
line-height: 1.9rem;
}
  
  
.udaanHead1{
    color:  rgba(225, 215, 28, 1);
    font-weight: 600;
    font-size: 4rem;
    line-height: 3rem;

}
.mentorinfodisplay{
    color: #fff;
    line-height: 0.9rem;
}
.PosterImageStyling{
    object-fit: cover;
  height: 380px;
  width: 380px;
  border-radius: 10px;
}
.udaanHead2{
 color: #fff;
 font-weight: 600;
 font-size: 3rem;
}
.leftPart{
    margin-left: 15%;
    margin-right: 5%;
    padding-top: 10%;
    top: 20%;
}
.rightPart{
    position: relative;
    top: 20%;
    left: 20%;
}


.card_Left{
    
    height: 550px;
    border-radius: 20px;
    width: 380px;
    background: linear-gradient(rgba(18, 131, 129, 1), rgba(0, 42, 54, 1));
    box-shadow: 21px 8px 21px 8px rgb(0 0 0 / 22%);
}
.middlepartC{
    border: 1px solid grey;
    margin-left: 15%;
    margin-right:5%;
    width: 70vw;
}
/* .MiddleAccordian{
    width: 40vw;
} */

.overview{
    margin-top: 10%;
 
    margin-bottom: 5%;
}
.mentorImageDSA{
    max-width: 60px;
height: 60px;
width: 60px;
border-radius: 50%;

}
.registerUdaan{
    /* margin-top: 35%; */
 position: relative;
 left:30%;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    color:#002a36;
    border-radius: 10px;
    padding: 1%;
    background: yellow;

   

}
.udaantext{
    padding: 2%;
    margin-left: 5%;
}
.overviewList:before
{content: '✓';

}
.listRig {
list-style-type: circle;
content: ' ';
padding: 2%;
}
.textudaaan1{
    margin-bottom: 10%;

}
.listtxt{
    
    font-size: 1rem;
    color: #fff;
}

.TopicsHeader{
  margin-top: 5%;
    font-size: 2rem;
    color: #002a36;
}

.mentordetailCard{
    background-color: #fff;
    box-shadow: 21px 8px 21px 8px rgb(0 0 0 / 22%);
    border-radius: 20px;
    width: 500px;

}
.imageOfTheMentor{
    margin-left: 7%;
    border-radius: 10px;
    margin-top: 5%;
    height: 430px;
    width:430px;
}
.udaancours{
    padding-bottom: 5%;
    margin-top: 5%;
}
.leftoutpart{
    margin-left: 10%;
    margin-top: -10%;
}
@media screen and (max-width: 822px){
    .upperContainer{
        height: 85vh;
        width: 103vw;
    }
  .leftPart{
    margin-left: 0%;
  }
 .mentorinfodisplay{
margin-top: 3%;
margin-left: 2%;
 }
 .card_Left{
    position: relative;
    left: -40%;
}
.overview{
 
   margin-top:  90%;
   margin-left: 10%;
}
.textudaaan1{
    margin-left:10%;
}
.mentordetailCard{
    margin-left: 16%;
}
.textudaan2{
    margin-top: 20%;
    margin-left: 0%;
    font-size: 2rem;
}
.accordiandata{
    margin-left: -10%;
}

}
@media screen and (max-width: 700px){
    .mentordetailCard{
        margin-left: 12%;
    }
}
@media screen and (max-width: 640px){
    .mentordetailCard{
        margin-left: 9%;
    }
}
@media screen and (max-width: 450px)
{
    .leftPart{
       margin: auto;
      
    }
    .udaantext{
        margin-left: 5%;
    }
    .card_Left{
        width: 350px;
    }
   .imageOfTheMentor{
    height: 300px;
    width: 300px;
   }
    .upperContainer{
        height: 95vh;
        width: 103vw;
    }
    .card_Left{
        position: relative;
        left: -25%;
        margin-top: 10%;
    }
    .overview{
        margin-top: 160%;
    }
    .leftoutpart{
        margin-top: 30%;
    }
    .mentordetailCard{
        margin: auto;
        margin-top: 5%;
        margin-bottom: 15%;
        width: 350px;
    }
    .PosterImageStyling{
        object-fit: cover;
        height: 350px;
        width: 350px;
    }
    .leftoutpart{
        margin-left: 0%;
    }
    .listtxt{
        margin-left: -15%;
        margin-top: 2%;
    }
    .registerUdaan{
        margin-left: -65%;
    }
    .TopicsHeader{
        margin-left: 5%;
        margin-top: 45%;
    
    }
    .overviewList{
        margin-left: -5%;
        padding: 1%;
    }
.mentorinfodisplay{
    margin-top: 5%;
}
.textudaaan1{
    margin-top: 15%;
}
.mentordetailCard{
    margin-left: 4%;
}
.textudaan2{
    margin-top: -10%;
    font-size: 2rem;
}
.textudaaan1{
    margin-left: 10%;
}
.accordiandata{
    margin-left: 0%;
}
ul{
    margin-left: -10%;
    margin-right: 10%;
}
}

@media screen and (max-width: 420px){
    ul{
        margin-left: 5%;
    }
.card_Left{
    margin-left: 3%;
    margin-top: 35%;
}
.udaantxt{
    padding: 5%;
}
.upperContainer{
    height: 108vh;
    width: 103vw;
}
.overviewList{
    margin-left: -10%;
   margin-right: 10%;
}
.overview{
    margin-top: 140%;
    margin-left: 0%;
}

}
@media screen and (max-width: 375px)
{ ul{
    margin-left: 5%;
}
    .card_Left{
        
        width: 325px;
       
    }
    .PosterImageStyling{
        height: 325px;
        width: 325px;

    }
    .upperContainer{
        
        width: 105vw;
        height: 110vh;
    }
    .udaantxt{
        padding: 5%;
    }
    .overview{
        margin-top: 180%;
    }
}
@media screen and (max-width: 350px){
    .overview{
        margin-top: 180%;
        margin-left: 5%;
    }
    .overviewList{
        margin-left: -10%;
        margin-right: 5%;
        padding: 2%;
    }
}

.glowing-text {
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(225, 215, 28, 1);
    text-shadow: 0 0 10px, 0 0 10px,0 12px 12px 0, 5px 6px 6px 5px;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 0rem;
  }
  /* @keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
  } */
  