.offli {
  color: white;
  text-decoration: none;
  margin-left: 65px;
  transition: all 150ms ease-in-put;
}

.offli:hover {
  pointer-events: "cursor";
  color: yellow;
  border: 2px solid rgba(192, 192, 192, 0.192);
  box-sizing: border-box;
}

.watchnowbtn {
  color: #002a36;
  font-weight: 600;
  transition: all 500ms ease-in-out;
  padding: 0rem 0.5rem;
  border-radius: 10px;
  height: fit-content;
}

.watchnowbtn:hover {
  background-color: #bfcacd;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.video-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.video-name {
  padding: 0 2rem;
  font-size: 1.5rem;
  color: var(--color);
  font-weight: bold;
  line-height: 1px;
}
.video-desc {
  padding: 0 2rem;
  line-height: 3.5rem;
}

@media screen and (max-width: 768px) {
  .video-name {
    line-height: 25px;
  }
  .video-desc {
    padding: 1rem 2rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 468px) {
  .nottobedisplayed {
    display: none;
  }
  .video-name {
    padding: 0 1.1rem;
    font-size: 1.5rem;
    color: var(--color);
    font-weight: bold;
    line-height: 30px;
  }
}
@media (max-width: 460px) and (min-width: 1980px) {
  .react_playermain {
    display: none;
  }
}
