* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.default-card-body {
  padding: 0px;
}
.default-card {
  width: 18rem;
  border-radius: 16px;
  display: flex;
  transition: all 500ms ease-in-out;
   box-shadow: 21px 8px 21px 8px rgb(0 0 0 / 15%);
   background: linear-gradient(rgba(18,131,129,1),rgba(0,42,54,1));
}
.default-card:hover {
  transform: scale(1.04);
  cursor: pointer;
  /* position: static; */

  /* box-shadow: 0 8px 21px 0 rgb(0 0 0 / 15%); */
}

.default-btn {
  padding: 8px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 7px;
  
}

.default-btn div {
  font-size: 14px;
}

.courses-cont {
  margin-top: 0px;
  gap: "40px";
  padding-bottom: "80px";
}

.card-text{
  color: #fff;
}

@media screen and (min-width: 768px) {
  .courses-cont{
    gap: 5px;
  }
}

@media screen and (max-width: 426px) {
  .card-date{
    font-size: 12px !important;
  }
  .default-btn div {
    font-size: 12px !important;

}

.default-card{
  width: 16rem;
  /* height: 23rem; */
}
}