
.txtMembers {
  color: rgba(5, 85, 94, 1);
  font-weight: 500;
  margin-left: 4%;
}


.memberstext {
  font-size: 1.5rem;
  margin: 3%;
  margin-left: 4%;
  line-height: 2.5rem;
  margin-bottom: 5%;
}
.cardMember {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(18, 131, 129, 1), rgba(0, 42, 54, 1));

  color: rgba(255, 255, 255, 1);
  font-size: 1.1rem;
  font-weight: 200;
  width: 70vw;
  height: 35vh;
  border-radius: 20px;
  margin-left: 7%;
  margin-right: 32%;

  padding-left: 5%;
  padding-right: 5%;
}
.img {
  background-color: white;
}
.textofMember {
  padding-top: 5%;
  font-size: 20px;
}

.cardMember1 {
  background: linear-gradient(rgba(18, 131, 129, 1), rgba(0, 42, 54, 1));
  color: rgba(255, 255, 255, 1);
  font-size: 1.1rem;
  font-weight: 200;
  width: 70vw;
  height: 35vh;
  border-radius: 20px;
  margin-left: 22%;
  margin-right: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
.girlimage {
  width: 180px;
  height: 180px;
}
.girlimage1 {
  width: 180px;
  height: 180px;
  position: relative;
  top: 10px;
}
.memberinnertext {
  display: inline-block;
  color: #fff;
  position: relative;
  left: 27%;
  font-size: 0.9rem;
}
.namePosition
{
position: relative;
left: 20%;
}
.namePosition1{
  position: relative;
  left: 20%;
}
.memberinnertext1 {
  display: inline-block;
  color: #fff;
  position: relative;
  left: 20%;
  font-size: 0.9rem;
}
.cardz {
  margin-top: 3%;
  box-shadow: 3px 3px 4px 4px rgb(188, 181, 181);
}

@media screen and (max-width: 1241px) {
  .girlimage {
    height: 125px;
    width: 125px;
  }
  .girlimage1 {
    height: 125px;
    width: 125px;
  }
  .textofMember {
    padding-top: 5%;
    font-size: 0.9rem;
}
.memberstext {
  font-size: 1.2rem;

}
}
@media screen and (max-width:991px){
  .girlimage{
    position: relative;
    
    left: 35%;

  }
  .cardMember{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;

height: 40vh;
  }
  .cardMember1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    height: 40vh;

  }
}
@media screen and (max-width:768px){
  
  .cardMember{
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
  }
  .cardMember1{
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
  }
}
@media screen and(max-width: 578px)

{
  .cardMember{
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 75vw;
  font-size: 0.9rem;
}
.cardMember1{
  display: flex;
  flex-wrap: wrap;
  
  height: 50vh;
  width: 75vw;
  font-size: 0.9rem;
}
.girlimage{
  width: 100px;
  height: 100px;
}
.girlimage1{
  width: 100px;
  height: 100px;
}
}
@media screen and (max-width: 991px) {
  .girlimage {
    position: relative;

    left: 35%;
  }
  .cardMember {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    height: 40vh;
  }
  .cardMember1 {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    height: 40vh;
  }
}
@media screen and (max-width: 768px) {
  .cardMember {
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
  }
  .cardMember1 {
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
  }
}
@media screen and(max-width: 578px) {
  .cardMember {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 75vw;
    font-size: 0.9rem;
  }
  .cardMember1 {
    display: flex;
    flex-wrap: wrap;

    height: 50vh;
    width: 75vw;
    font-size: 0.9rem;
  }
  .girlimage {
    width: 100px;
    height: 100px;
  }
  .girlimage1 {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 468px) {
  .cardMember {
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }
  .namePosition{
position: relative;
left: 14%;
  }
  .namePosition1{
    position: relative;
    left: 50%;
      }

  .cardMember1 {
    display: flex;
    flex-wrap: wrap;

    height: 55vh;
    width: 75vw;
    font-size: 0.9rem;
    position: relative;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 418px) {
  .cardMember1 {
    position: relative;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 426px) {
  .txtMembers {
    margin-left: 0px;
    font-size: 22px;
  }
  .memberstext {
    margin-left: 0px;
    font-size: 12px;
    line-height: 1.2;
  }
  .textofMember {
    font-size: 12px;
  }
  .memberinnertext1 {
    font-size: 12px;
  }
}
