.txtMembers {
  color: rgba(5, 85, 94, 1);
  font-weight: 600;
  margin-left: 7%;
}

.memberstext {
  font-size: 1.5rem;
  margin: 3%;
  margin-left: 7%;
  line-height: 2.5rem;
  margin-bottom: 5%;
}
.cardMember {
  background-color: rgba(1, 60, 76, 1);

  color: rgba(255, 255, 255, 1);
  font-size: 1.1rem;
  font-weight: 200;
  width: 70vw;
  height: 35vh;
  border-radius: 20px;
  margin-left: 7%;
  margin-right: 32%;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.img {
  background-color: white;
}
.textofMember {
  padding-top: 5%;
}

.cardMember1 {
  background-color: rgba(1, 60, 76, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.1rem;
  font-weight: 200;
  width: 70vw;
  height: 35vh;
  border-radius: 20px;
  margin-left: 22%;
  margin-right: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
.girlimage {
  width: 180px;
  height: 180px;
  position: relative;
  top: 35px;
}
.memberinnertext {
  display: inline-block;
  color: #fff;
  position: relative;
  left: 27%;
  font-size: 0.9rem;
}
.memberinnertext1 {
  display: inline-block;
  color: #fff;
  position: relative;
  left: 20%;
  font-size: 0.9rem;
}
.cardz {
  margin-top: 3%;
  box-shadow: 3px 3px 4px 4px rgb(188, 181, 181);
}

@media screen and (max-width: 1241px) {
  .girlimage  {
   height:125px;
   width: 125px;
  }
  .textofMember {
    padding-top: 5%;
    font-size: 0.9rem;
}
.memberstext {
  font-size: 1.2rem;

}
}
@media screen and (max-width:991px){
  .girlimage{
    position: relative;
    top: 5%;
    left: 35%;

  }
  .cardMember{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;

height: 40vh;
  }
  .cardMember1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    height: 40vh;

  }
}
@media screen and (max-width:768px){
  
  .cardMember{
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
  }
  .cardMember1{
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
  }
}
@media screen and(max-width: 578px)
{.cardMember{
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 75vw;
  font-size: 0.9rem;
}
.cardMember1{
  display: flex;
  flex-wrap: wrap;
  
  height: 50vh;
  width: 75vw;
  font-size: 0.9rem;
}
.girlimage{
  width: 100px;
  height: 100px;
}
}
@media screen and (max-width:468px){

  .cardMember{
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
    width: 75vw;
    font-size: 0.9rem;
  }
  .cardMember1{
    display: flex;
    flex-wrap: wrap;
    
    height: 55vh;
    width: 75vw;
    font-size: 0.9rem;
  }
}