.main-profile-dashboard-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 1159px;
  height: auto;
  margin: 60px auto;
}

.main-profile-dashboard-left {
  width: 367px;
}

.main-profile-dashboard-right {
  width: 775px;
}

@media screen and (max-width: 520px) {
  .main-profile-dashboard-panel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 100%;
    padding: 10px;
    height: auto;
    margin: 20px auto;
  }

  .main-profile-dashboard-left {
    width: 367px;
  }

  .main-profile-dashboard-right {
    width: 367px;
  }
}
