.domains-section {
  position: relative;
  background: #fff;
  border-radius: 15px;
  padding: 3rem 3rem;
  margin: 40px auto;
  max-width: 1080px;
  width:100%;
  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: 100%;
  margin-bottom: 50px;

}

.domains-section__list.slider {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.domains-section__list.slider::-webkit-scrollbar {
  display: none;
}

.domains-section__list.slider .domain {
  flex: 0 0 auto;
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 0.625rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.domains-section .domains-section__list .domain {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 0.625rem;
  padding: 1rem;
  position: relative;
  /* background-position: 0; */
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.domains-section .domains-section__list .domain .count {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--Color, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
  /* height: 2.1875rem; */
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.4375rem;
  background: var(--Red-Primary, #f00);
  transform: translate(50%, -50%);
}

.domains-section .domains-section__list .domain .title {
  color: var(--Primary-500, #002b36);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.domains-section .domains-section__list .domain .info-container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.domains-section .domains-section__list .domain .info-container .info {
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.5625rem;
  background: var(--Color, #fff);
  color: var(--foundation-black-black-800, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.domains-section .domains-section__list .domain .logo-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  background: var(--Color, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  overflow: hidden;
}

.domains-section .domains-section__list .domain .logo-container img {
  object-fit: contain;
  height: 2.5rem;
  width: 2.5rem;
}

.domains-section .domains-section__list .domain:hover {
  cursor: pointer;
}

/* Slider buttons */
.slider-btn {
  position: absolute;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.slider-btn.left {
  left: 0.2rem;
}

.slider-btn.right {
  right: 0.2rem;
}

/* Hide mobile buttons on desktop */
.slider-btn-wrapper {
  display: none;
}


@media screen and (max-width: 768px) {
  .domains-section__list.slider {
    gap: 1rem;
    padding-left: 1rem;
  }

  .domains-section__slider-wrapper{

    margin-right: 10px;
  }
  .domains-section__list.slider .domain {
    width: 13rem;
    /*height: auto;*/
    height: 13rem;
    padding: 0.5rem;
    box-sizing: border-box;


  }

  .domains-section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1.5rem 0.5rem;
  }

  .slider-btn {
    display: none !important;
  }

  .slider-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .slider-btn-mobile {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    cursor: pointer;
  }


}

