.domains-section__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
}

.domains-section__item {
  width: 15rem;
  height: 15rem;
  border-radius: 0.75rem;
  padding: 0.8rem;
  position: relative;
  background-position: 0;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
}

.domains-section__item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}

.domains-section__item__title {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
}

@media screen and (max-width: 1250px) {
  .domains-section__list {
    gap: 3rem;
  }
}

@media screen and (max-width: 574px) {
  .domains-section__list {
    gap: 2rem;
  }
  .domains-section__item {
    padding: 0.7rem;
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
  }
  .domains-section__item__title {
    font-size: 0.8rem;
  }
  .domains-section__item::before {
    filter: blur(10px);
  }
}

@media screen and (max-width: 574px) {
  .domains-section__list {
    gap: 1rem;
  }
  .domains-section__item {
    width: 8rem;
    height: 8rem;
  }
}
