* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.mentor-container {
  padding: 35px 0px 35px 0px;
  margin: 20px;
  background-color:#002a36;
  border-radius: 33px;
}
.card-section {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;

}

@media screen and (max-width: 768px) {
  .card-section{
    flex-wrap: wrap;
    justify-content: center;
  }
  
}

  

