

.Ment-container {
  background-color: #fff;
  height: max-content;
  width: 18rem;

  border-radius: 10px;
  /* border: 2px solid black; */
  box-shadow: 21px 8px 21px 8px rgb(0 0 0 / 22%);
}
.Ment-image {
  margin: 15px 28px 8px 28px;
}
.Ment-image img {
  width: 150%;
  max-width: 230px;
  height: 208px;
  border-radius: 50%;
}

.Ment-prof {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.Ment-name {
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.Ment-contact {
  /* margin: 4px 0; */
  margin: 0px 0px 4px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.4px;
  opacity: 0.8;
}

span {
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.Ment-social {
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 15px;
}

.Ment-about {
  background: linear-gradient(90deg, #002a36 0%, #014051 100%);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;

  /* padding: 5px; */
  margin: 0px 12px 12px 12px;
  border-radius: 13px;
}

.Ment-button {
  /* background: linear-gradient(90deg, #00a9d9 0%, #1e82de 100%); */
  background: linear-gradient(90deg, #002a36 0%, #014051 100%);
  color: white;
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  line-height: 42px;
  max-width: 280px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 12px 12px 12px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  text-decoration: none;
}

.Ment-button:hover {
  transform: scale(1.04);
  color: #fff;
}

@media screen and (max-width: 426px) {
  .Ment-image{
    margin: 15px 53px 8px 57px;
  }
  .Ment-image img {
    width: 100%;
    max-width: 145px;
    height: 145px

  }

  .Ment-name{
    font-size: 20px;
    line-height: 12px;
  }
  .Ment-button{
    margin-top: 0px;
  }

  .Ment-contact{
    font-size: 12px;
  }
  .Ment-container{
    width: 16rem;
  }
}

/* .Ment-container{
  box-sizing: border-box;

}


.cardm{
  /* background-color: white; */
  /* box-shadow: 21px 8px 21px 8px rgb(0 0 0 / 15%); */
   /* background: linear-gradient(rgba(18,131,129,1),rgba(0,42,54,1)); */
   /* background: white; */
/* } */


/* .card-body{
  padding-bottom: 0;
} */

/* .Ment-button { */
  /* background: linear-gradient(90deg, #00a9d9 0%, #1e82de 100%); */
  /* background: linear-gradient(90deg, #05555e 0%, #30727f 100%);
  color: white;
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px;
  font-weight: 700;
  line-height: 42px;
  max-width: 280px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  margin: 16px 12px 17px 12px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  text-decoration: none;
} */

/* .Ment-button:hover {
  transform: scale(1.04);
  color: #fff;
}
.card-title{
  padding: 0px;
  color:"rgb(1 58 64)"
}

.card-Profession{
  font-weight: 400;
}

@media screen and (max-width: 426px) {
  .row>* {
    width: auto;
  }
  
}

@media screen and (max-width: 321px) {
  .row {
    flex-wrap: nowrap;
  }

  .card-title{
    padding-top: 8px;
  }

  .Ment-image{
    max-width: 90% !important;
    height: 107px !important;
  }

  .card-Profession{
    font-size: 12px;
  }

  .Ment-button{
    font-size: 10px;
    height: 20px;
  }

  .row>* {
    padding-right: 10px;
}
  
}  */