.carouselcomp {
  background: rgba(1, 60, 76, 1);
}
.textcontent {
  background: rgba(1, 60, 76, 1);
}
.textcontainer {
  background: rgba(1, 60, 76, 1);

  border-radius: 15px;
  border: solid 2px white;
}
.content {
  background: rgba(1, 60, 76, 1);

  padding: 10px;
  border-radius: 25px;
}
.text1 {
  color: rgba(225, 215, 28, 1);
  padding: 3% 0px;
}
.textfor {
  color: rgba(225, 215, 28, 1);
  padding: 3%;

  position: relative;
  margin: 0 0 0 10%;
}
.text2 {
  color: rgba(255, 255, 255, 1);
  padding: 2%;
  margin-left: 13%;
  /* height: 10vh; */
}
.Whatsapp {
  background-color: rgba(8, 210, 4, 1);

  color: rgba(255, 255, 255, 1);

  padding: 12px 24px;
  border-radius: 59px;
  border: none;
}
.Telegram {
  background-color: rgba(0, 136, 204, 1);

  color: rgba(255, 255, 255, 1);

  padding: 12px 24px;
  border-radius: 59px;
  border: none;
}
.Linkedin {
  background-color: rgba(0, 119, 181, 1);
  color: rgba(255, 255, 255, 1);

  padding: 12px 24px;
  border-radius: 59px;
  border: none;
}
.Discord {
  background-color: rgba(88, 101, 242, 1);
  color: rgba(255, 255, 255, 1);

  padding: 12px 24px;
  border-radius: 59px;
  border: none;
}
.phone-image img {
  /* background-image: url(Vector\ \(1\).svg); */
  background-size: cover;
  border-radius: 20px;
  width: 240px;
}

.textt {
  padding-left: 7%;
  justify-items: center;
  justify-content: center;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.25rem;
}
.carousel-content {
  padding-bottom: 15%;
}
.contactButtons {
  padding: 4% 0px;
}
.textwhat {
  color: rgba(225, 215, 28, 1);
  padding: 3%;
  position: relative;
  left: 6%;
  display: inline-block;
}
.textbelow {
  color: rgba(255, 255, 255, 1);
  padding: 2% 0px;
  margin-left: 9%;
}

@media only screen and (max-width: 991px) {
  .textt {
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.2rem;
    width: 70vw;
  }
  .Whatsapp {
    font-size: 1rem;
    border: none;
    margin: 1rem;
    border-radius: 59px;
    justify-content: center;
    align-items: center;
  }
  .Linkedin {
    font-size: 1rem;
    border: none;
    margin: 1rem;
    border-radius: 59px;
    justify-content: center;
    align-items: center;
  }
  .Telegram {
    font-size: 1rem;
    border: none;
    margin: 1rem;
    border-radius: 59px;
    justify-content: center;
    align-items: center;
  }
  .Discord {
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: none;
    border-radius: 59px;

    /* text-indent: 20%;
    white-space: nowrap;
    overflow: hidden; */
  }
  .phone-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.carousel-control-next,
.carousel-control-prev {
  height: fit-content;
  transform: translateY(200px);
}

@media screen and (max-width: 1024px) {
  .textwhat {
    left: 0;
    padding: 5% 6%;
  }
  .phone-image img {
    position: relative;
    top: 10px;
    width: 200px;
  }
  .carousel-control-next {
    right: -34px;
  }
  .carousel-control-prev {
    left: -34px;
  }
}

@media screen and (max-width: 768px) {
  .phone-image img {
    display: none;
  }

  .textfor {
    left: 0px;
    padding: 3% 6%;
  }
}
