.profile-dashboard--adjustment{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
  cursor: default;
}
.profile-dashboard > .user-container {
  display: flex;
  flex-direction: row;
  gap: 1.69rem;
}
.profile-dashboard > .user-container > .profile-image {
  aspect-ratio: 1/1;
  min-width: 12.5rem;
  max-width: 12.5rem;
  min-height: 12.5rem;
  max-height: 12.5rem;
  width: min-content;
}
.profile-dashboard > .user-container > .profile-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.profile-dashboard > .user-container > .details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-dashboard > .user-container > .details > .username {
  color: var(--Primary-500, #002b36);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.81rem;
  line-break: anywhere;
}
.profile-dashboard > .user-container > .details > .name {
  color: var(--Primary-500, #002b36);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-break: anywhere;
  flex-wrap: wrap;
}
.profile-dashboard > .user-container > .details > .address {
  color: var(--foundation-black-black-400, #333);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 112.523%; /* 1.12525rem */
  margin-bottom: 1.13rem;
  line-break: anywhere;
}
.profile-dashboard > .user-container > .details > .email {
  color: var(--foundation-black-black-200, #8a8a8a);
  font-style: normal;
  line-height: normal;
  line-break: anywhere;
}
.profile-dashboard > .user-container > .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.profile-dashboard > .user-container > .info > .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.3rem;
}
.profile-dashboard > .user-container > .info > .socials > a > svg {
  width: 2.3rem;
  height: 2.3rem;
}
.profile-dashboard > .user-container > .info > .buttons {
  min-width: 16.1875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.profile-dashboard > .user-container > .info > .buttons > .button {
  padding: 0.8rem 1rem;
  border-radius: 0.625rem;
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.05);
  max-width: 15rem;
}
.profile-dashboard > .user-container > .info > .buttons > .edit-btn {
  background: var(--Primary-500, #002b36);
  color: white;
}
.profile-dashboard > .user-container > .info > .buttons > .upload-btn {
  background-color: transparent;
}
.profile-dashboard > .user-box > .column > .box > .education {
  border-radius: 0.625rem;
  border: 1px solid var(--foundation-black-black-50, #e6e6e6);
  display: flex;
  flex-wrap: nowrap;
  padding: 0.63rem;
  gap: 0.5rem;
  margin-bottom: 1.12rem;
}
.profile-dashboard > .user-box > .column > .box > .education > .image {
  border-radius: 0.3125rem;
  border: 0.5px solid #d0cdcd;
  aspect-ratio: 1/1;
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.3125rem;
}
.profile-dashboard > .user-box > .column > .box > .education > .image > svg,
.profile-dashboard > .user-box > .column > .box > .education > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile-dashboard > .user-box > .column > .box > .education > .details {
  display: flex;
  flex-direction: column;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .education
  > .details
  > .name {
  color: var(--Primary-500, #002b36);
  font-style: normal;
  font-weight: 500;
  line-height: 122.023%; /* 1.22025rem */
  letter-spacing: 0.03rem;
  margin-bottom: 0.69rem;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .education
  > .details
  > .course {
  color: var(--foundation-black-black-400, #333);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120.523%; /* 1.12988rem */
  margin-bottom: 0.19rem;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .education
  > .details
  > .year {
  color: var(--foundation-black-black-400, #333);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120.523%; /* 1.05456rem */
  margin-bottom: 0.5rem;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .education
  > .details
  > .grade {
  color: var(--foundation-black-black-400, #333);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120.523%; /* 1.05456rem */
}
.profile-dashboard > .user-box > .column > .box > .chips-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.12rem;
  row-gap: 0.6rem;
}
.profile-dashboard > .user-box > .column > .box > .chips-container > div {
  padding: 0.6rem 1rem;
  border-radius: 1.375rem;
}
.profile-dashboard > .user-box > .column > .box > .chips-container > .interest {
  background: #b2e887;
}
.profile-dashboard > .user-box > .column > .box > .chips-container > .skill {
  background: #f7d77f;
}
.profile-dashboard > .user-box > .column > .box > .project {
  border-radius: 0.625rem;
  border: 1px solid var(--foundation-black-black-50, #e6e6e6);
  padding: 0.69rem 1.06rem;
  margin-bottom: 1.12rem;
}
.profile-dashboard > .user-box > .column > .box > .project > .title {
  color: var(--Primary-500, #002b36);
  font-style: normal;
  font-weight: 500;
  line-height: 129.023%; /* 1.29025rem */
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.profile-dashboard > .user-box > .column > .box > .project > .description {
  overflow: hidden;
  color: var(--foundation-black-black-400, #333);
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130.523%; /* 1.14206rem */
  margin-bottom: 1.12rem;
}
.profile-dashboard > .user-box .view-more-container {
  margin-top: 1.06rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-dashboard > .user-box .view-more {
  border-radius: 2.8125rem;
  border: 1px solid #999;
  background-color: transparent;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.profile-dashboard > .user-box > .column > .box > .experience {
  border-radius: 0.625rem;
  border: 1px solid var(--foundation-black-black-50, #e6e6e6);
  background: var(--Color, #fff);
  gap: 0.63rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1.19rem;
}
.profile-dashboard > .user-box > .column > .box > .experience > .logo {
  aspect-ratio: 1/1;
  width: 2.5rem;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  border: 0.5px solid #d0cdcd;
}
.profile-dashboard > .user-box > .column > .box > .experience > .logo > svg,
.profile-dashboard > .user-box > .column > .box > .experience > .logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile-dashboard > .user-box > .column > .box > .experience > .details {
  display: flex;
  flex-direction: column;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .experience
  > .details
  > .title {
  color: var(--Primary-500, #002b36);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 111.023%; /* 1.11025rem */
  letter-spacing: 0.03rem;
  margin-bottom: 0.44rem;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .experience
  > .details
  > .company-name {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .experience
  > .details
  > .company-name
  > span {
  color: var(--foundation-black-black-800, #000);
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120.523%; /* 1.12988rem */
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .experience
  > .details
  > .company-name
  > span:nth-child(2) {
  color: var(--foundation-black-black-800, #000);
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120.523%; /* 1.12988rem */
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .experience
  > .details
  > .time {
  display: flex;
  gap: 0.2rem;
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .experience
  > .details
  > .time
  > span {
  color: var(--foundation-black-black-200, #8a8a8a);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120.523%; /* 1.05456rem */
}
.profile-dashboard
  > .user-box
  > .column
  > .box
  > .experience
  > .details
  > .location {
  color: var(--foundation-black-black-200, #8a8a8a);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120.523%; /* 1.05456rem */
}

@media screen and (max-width: 950px) {
  .profile-dashboard > .user-container > .info > .buttons {
    min-width: 12rem;
  }
}
@media screen and (max-width: 786px) {
  .user-container{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .upperDetails{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .profile-dashboard > .user-container {
    flex-direction: column;
    gap: 1rem;
  }
  .profile-dashboard > .user-container > .profile-image {
    aspect-ratio: 1/1;
    min-width: 7.65rem;
    max-width: 7.65rem;
    min-height: 7.65rem;
    max-height: 7.65rem;
    width: min-content;
  }
}
