.profile-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
}
.profile-page .heading-3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color-dark-green);
  margin-bottom: 1rem;
}
.profile-page > section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}
.profile-page > section > aside {
  display: flex;
  flex-direction: column;
  width: 15.6875rem;
  margin-right: 2.25rem;
  row-gap: 0.9375rem;
  padding: 0.625rem 1rem;
  background-color: white;
}
.profile-page > section > aside > button {
  height: 2.8125rem;
  border: none;
  background-color: rgb(var(--primary-color-green-code), 0.2);
  border-radius: 2rem;
  font-weight: 500;
}
.profile-page > section > aside > button:hover {
  background-color: var(--primary-color-green);
  color: white;
}
.profile-page > section > aside > button:active {
  background-color: rgb(var(--primary-color-dark-green-code), 0.9);
  color: white;
}
.profile-page > section > aside > .--is-selected {
  background-color: var(--primary-color-dark-green);
  color: white;
}
.profile-page > section > aside > .--is-selected:hover {
  background-color: var(--primary-color-dark-green);
  color: white;
}
.profile-page > section > aside > .--is-selected:active {
  background-color: var(--primary-color-dark-green);
  color: white;
}

.profile-page > section > .details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 25rem;
}

.profile-page > section > .details-container p {
  font-size: 0.875rem;
  /* color: var(--text-color-dark-green); */
  margin-bottom: 0;
  margin-top: 0;
}
.profile-page > section > .details-container > p:nth-child(1) {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 600;
}
.profile-page > section > .details-container > div {
  display: flex;
  justify-content: flex-start;
}
.profile-page > section > .details-container > div > .profile-picture {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin-bottom: 1.5625rem;
}
.profile-page > section > .details-container > .updatable-fields {
  display: flex;
  flex-direction: row;
  gap: 0 1.25rem;
  align-items: flex-end;
  justify-content: space-between;
}
.profile-page
  > section
  > .details-container
  > .updatable-fields
  > div
  > .updation-btn {
  width: 7.6875rem;
  height: 2.25rem;
  background-color: var(--primary-color-dark-green);
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  border-radius: 0.625rem;
  border: none;
  margin-bottom: 1.5625rem;
}

.profile-page
  > section
  > .details-container
  > .updatable-fields
  > div
  > .updation-btn:hover {
  background-color: var(--primary-color-green);
}

.profile-page
  > section
  > .details-container
  > .updatable-fields
  > div
  > .updation-btn:active {
  background-color: rgb(16, 109, 108);
}
.profile-page
  > section
  > .details-container
  > .updatable-fields
  > div
  > .--is-verified {
  background-color: #c2e6e6;
  color: var(--text-color-dark-green);
}
.profile-page
  > section
  > .details-container
  > .updatable-fields
  > div
  > .--is-verified:hover {
  cursor: default;
  background-color: #c2e6e6;
  color: var(--text-color-dark-green);
}
.profile-page
  > section
  > .details-container
  > .updatable-fields
  > div
  > .--is-verified:active {
  background-color: #c2e6e6;
  color: var(--text-color-dark-green);
}

.logout-btn {
  border: 1px solid #0a3f51;
  background-color: #dbfafa;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  width: 6rem;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .profile-page > section > .details-container {
    width: 100%;
  }
  .profile-page > section > .details-container > .updatable-fields {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-page > section > .details-container > .updatable-fields > div {
    width: 100%;
  }
  .profile-page
    > section
    > .details-container
    > .updatable-fields
    > div
    > .updation-btn {
    margin-bottom: 0.875rem;
  }
}
