/* More than 9 components share this CSS file, so make changes with excessive testing only */

.custom-form-input .form-input-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0.25rem;
}
.custom-form-input .form-input-container .form-input-label {
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}
.custom-form-input .form-input-container .required-mark {
  color: #ff0000;
}
.custom-form-input .form-input-container .constraint {
  font-size: 14px;
}
.custom-form-input .custom-input {
  width: 100%;
  min-height: 3.125rem;
  border-radius: 5px;
  border: 2px solid #b0b0b0;
  padding: 0.75rem 1rem;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-dark-green);
  background-color: white;
}
.custom-form-input .custom-input.custom-input-error {
  border-color: #ff0000 !important;
  outline-color: #ff0000 !important;
}
.custom-form-input .custom-input.disabled {
  background-color: #f0f0f0 !important ;
  color: #757575 !important ;
  cursor: not-allowed !important ;
}
.custom-form-input .custom-input.disabled::placeholder {
  color: #a0a0a0;
}
.custom-form-input .custom-dropdown-container {
  position: relative;
}
.custom-form-input .custom-dropdown-container .custom-dropdown,
.custom-form-input .custom-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.custom-form-input .custom-upload {
  padding: 7px 16px;
}
.custom-form-input .custom-upload-active {
  cursor: default;
}
.custom-form-input .custom-upload .file-cancel {
  cursor: pointer;
  height: 29px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-form-input .custom-upload .file-cancel:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.custom-form-input .custom-dropdown-container .custom-dropdown-placeholder,
.custom-form-input .custom-upload-placeholder {
  color: #757575;
}
.custom-form-input
  .custom-dropdown-container
  .custom-dropdown-placeholder.disabled,
.custom-form-input .custom-upload-placeholder.disabled {
  color: #a0a0a0 !important;
}
.custom-form-input .custom-input-file-input {
  display: none;
}
.custom-form-input .browse-btn {
  padding: 0.625rem;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color-dark-green);
  cursor: pointer;
}
.custom-form-input .browse-btn:disabled {
  background-color: #757575;
  color: white;
  cursor: not-allowed;
}
.custom-form-input .custom-dropdown-container .options {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  width: 100%;
  z-index: 40;
  background-color: white;
  border: 2px solid #b0b0b0;
  border-radius: 5px;
  max-height: 191.4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.custom-form-input .custom-dropdown-container .option {
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid #b0b0b0;
}
.custom-form-input .custom-dropdown-container .option:last-child {
  border-bottom: none;
}
.custom-form-input .custom-dropdown-container .option:hover {
  background-color: #f0f0f0;
}
.custom-form-input .helper-text {
  font-size: 12px;
  color: #ff0000;
  margin-top: 0.25rem;
}
