/* More than 9 components share this CSS file, so make changes with extensive testing only */

.custom-form-input {
  --border-radius: 5px;
  --alert-color: #ff0000;
  --border-color: #b0b0b0;
  --input-bg-color: #ffffff;
  --input-bg-color-secondary: #f0f0f0;
  --input-selected-bg-color: #e6eaeb;
  --border-width: 1px;
  --text-color-secondary: #757575;
  --placeholder-color: #b0b0b0;
  --placeholder-color-disabled: #a0a0a0;

  color: var(--text-color-dark-green);
  font-size: 14px;
}

/* Default Form Input Field  */
/* Textarea Form Input Field */
.custom-form-input .form-input-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0.25rem;
}
.custom-form-input .form-input-container .form-input-label {
  font-weight: 600;
  padding: 0;
}
.custom-form-input .form-input-container .required-mark {
  color: var(--alert-color);
}
.custom-form-input .caption {
  font-size: 14px;
  color: var(--text-color-secondary);
  margin-bottom: 0.25rem;
  font-weight: 400;
}
.custom-form-input .custom-input {
  width: 100%;
  min-height: 3.125rem;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  padding: 0.75rem 1rem;
  font-weight: 500;
  color: var(--text-color-dark-green);
  background-color: var(--input-bg-color);
  cursor: pointer;
}
.custom-form-input .custom-input.custom-input-error {
  border-width: 2px;
  border-color: var(--alert-color) !important;
  outline-color: var(--alert-color) !important;
}
.custom-form-input .custom-input.disabled {
  background-color: var(--input-bg-color-secondary) !important ;
  color: var(--text-color-secondary) !important ;
  cursor: not-allowed !important ;
}
.custom-form-input .custom-input::placeholder {
  color: var(--placeholder-color);
}
.custom-form-input .custom-input.disabled::placeholder {
  color: var(--placeholder-color-disabled);
}
.custom-form-input .helper-text {
  font-size: 12px;
  color: var(--alert-color);
  margin-top: 0.25rem;
}

/* Dropdown Form Input Field */
.custom-form-input .custom-dropdown-container {
  position: relative;
}
.custom-form-input .custom-dropdown-container .custom-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.custom-form-input .custom-dropdown-container .custom-dropdown-placeholder {
  color: var(--placeholder-color);
}

.custom-form-input
  .custom-dropdown-container
  .custom-dropdown-placeholder.disabled {
  color: var(--placeholder-color-disabled) !important;
}

.custom-form-input .custom-dropdown-container .options {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  width: 100%;
  z-index: 40;
  background-color: var(--input-bg-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  max-height: 191.4px;
  overflow-x: hidden;
  overflow-y: auto;
  /* make text not selectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.custom-form-input .custom-dropdown-container .option {
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}
.custom-form-input .custom-dropdown-container .option:last-child {
  border-bottom: none;
}
.custom-form-input .custom-dropdown-container .option:hover {
  background-color: var(--input-bg-color-secondary);
}
.custom-form-input .custom-dropdown-container .option[disabled] {
  color: var(--text-color-secondary);
  background-color: var(--input-bg-color-secondary);
  cursor: not-allowed;
}

/* File Upload Form Input Field */
.custom-form-input .custom-input-file-input {
  display: none;
}
.custom-form-input .custom-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 7px 1rem;
}
.custom-form-input .custom-upload-active {
  cursor: default;
}
.custom-form-input .custom-upload .file-cancel {
  cursor: pointer;
  height: 29px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-form-input .custom-upload .file-cancel:hover {
  background-color: var(--input-bg-color-secondary);
  border-radius: var(--border-radius);
}
.custom-form-input .custom-upload-placeholder {
  color: var(--placeholder-color);
}
.custom-form-input .custom-upload-placeholder.disabled {
  color: var(--placeholder-color-disabled) !important;
}
.custom-form-input .browse-btn {
  padding: 0.625rem;
  border-radius: 5px;
  border: none;
  line-height: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color-dark-green);
  cursor: pointer;
}
.custom-form-input .browse-btn:disabled {
  background-color: var(--text-color-secondary);
  cursor: not-allowed;
}

/* Select Option Form Input Field */
.custom-form-input .custom-select-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.custom-form-input .custom-select-option.selected {
  background-color: var(--input-selected-bg-color);
  border-color: black;
}
.custom-form-input .custom-select-option:disabled {
  background-color: var(--input-bg-color-secondary);
  color: var(--text-color-secondary);
  cursor: not-allowed;
  border: var(--border-width) solid var(--border-color);
}
.custom-form-input .custom-select-option:disabled path {
  color: var(--text-color-secondary);
  fill: var(--text-color-secondary);
}

.custom-form-input .custom-select-option.custom-input-error {
  border-width: 2px;
}
.custom-form-input .custom-select-option.custom-input-error:disabled {
  border-width: var(--border-width) !important;
  border-color: var(--border-color) !important;
}

/* Toggle Form Input Field */
.custom-form-input .custom-toggle-container {
  justify-content: flex-end;
}
.custom-form-input .custom-toggle-container .custom-input {
  cursor: default;
}

.custom-form-input .custom-toggle-container .custom-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-form-input .custom-toggle-container .custom-toggle .toggle-label {
  width: calc(100% - 4.5rem);
}
.custom-form-input .custom-toggle-container .required-mark {
  color: var(--alert-color);
}
.custom-form-input .custom-toggle-container .required-mark[disabled] {
  color: var(--placeholder-color-disabled);
}

/* Multi Value Form Input Field */
.custom-form-input .custom-dropdown-container .option.selected {
  background-color: var(--input-selected-bg-color);
}
.custom-form-input .multi-value {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem 1rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}
.custom-form-input .multi-value .multi-value-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 0.375rem 0.5rem;
  border-radius: 99rem;
  background-color: var(--primary-color-dark-green);
  color: white;
}
.custom-form-input .multi-value .multi-value-item .cancel-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
