ul {
  list-style: none;
  color: inherit;
  padding: 0;
}

/* Utility classes
--------------------- */
.stack-sm > * + * {
  margin-block-start: 0.5rem;
}
.stack-md > * + * {
  margin-block-start: 1rem;
}

.rounded-sm {
  border-radius: 6px;
}
.rounded-md {
  border-radius: 8px;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .wrapper {
  max-width: var(--max-wrapper-size);
  margin-inline: auto;
  padding: 2rem;
} */

/* .display\:block {
  display: block;
}
.display\:none {
  display: none;
}
.text\:white {
  color: white;
}
.font-lg {
  font-size: var(--fs-lg);
} */

/* Additional styles
--------------------- */
/* .label {
  color: var(--secondary-color);
} */
.combo__box {
  position: relative;
  width: 30rem;
}

.combo__input {
  display: block;
  width: 100%;
  height: 2.2rem;
  padding: 0 1rem;
  background-color: #f7ffff;
  border: 1px solid rgb(33, 139, 137, 0.61);
  outline: 1px solid transparent;
  transition: outline 150ms ease-in;
}

.combo__input::-webkit-input-placeholder {
  /* Edge */
  color: rgb(33, 139, 137, 0.61);
}

.combo__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(33, 139, 137, 0.61);
}

.combo__input::placeholder {
  color: rgb(33, 139, 137, 0.61);
}

.combo__input:hover {
  cursor: text;
}
.combo__input:focus {
  background-color: white;

  outline: 3px solid var(--primary-color);
}

.combo__results {
  /* background-color: var(--primary-color); */
  background-color: white;
  padding: 0.5em;
  max-height: 12rem;
  overflow-y: auto;
  position: absolute;
  width: 30rem;
  z-index: 10;
}

.combo__results::-webkit-scrollbar {
  width: 10px;
}
.combo__results::-webkit-scrollbar-track {
  background: var(--primary-color);
}
.combo__results::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--secondary-color);
}

.result-item {
  width: 100%;
  display: block;
  border: none;
  padding: 0.5em;
  color: var(--text-color);
  background-color: transparent;
  text-align: start;
  cursor: pointer;
  outline: 1px solid transparent;
  transition: outline 150ms ease-in, background-color 150ms ease-in;
}

.result-item:hover,
.result-item:focus {
  background-color: var(--primary-color);
  outline: 2px solid var(--primary-color);
}

@media screen and (max-width: 1000px) {
  .combo__box {
    width: 25rem;
  }
  .combo__results {
    width: 25rem;
  }
}

@media screen and (max-width: 500px) {
  .combo__box {
    width: 20rem;
  }
  .combo__results {
    width: 20rem;
  }
}

@media screen and (max-width: 375px) {
  .combo__box {
    width: 18rem;
  }
  .combo__results {
    width: 18rem;
  }
}

@media screen and (max-width: 319px) {
  .combo__box {
    width: 17rem;
  }
  .combo__results {
    width: 17rem;
  }
}
