* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.containerc {
  background-color: #002A36;
  margin: auto;
  border-radius: 30px;
  /* padding-bottom: 80px; */
  padding: 0px 0px 80px;
  margin: 20px 20px 20px 20px;
}

.heading {
  font-size: 3.5rem;
  padding-left: 48px;
  color: #e1d71c;
}

.text {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 48px;
  padding-top: 0px;
}
