* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.containerc {
  background-color: #002a36;
  margin: auto;
  border-radius: 30px;
  /* padding-bottom: 80px; */
   padding: 35px 0px 35px 0px;
  margin: 20px 20px 20px 20px;
}

.heading {
  padding: 0px 0px 0px 40px;
  color: #e1d71c;
  font-size: 63px;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: 0em;
  text-align: left;
}

.text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 48px;
  padding-top: 0px;
}