.custom-card {

  width: 400px;
  border-radius: 16px;
  display: flex;
  transition: all 250ms ease-in-out;
}

.campus-card-cllg{
  background-image: linear-gradient(45deg,rgb(215 246 255 / 83%),rgb(255 255 255)),url(./iitd.jpeg);
}
.custom-card:hover {
  transform: scale(1.04);
  cursor: pointer;
  /* position: static; */

  box-shadow: 0 8px 21px 0 rgb(0 0 0 / 15%);
}

.card-text{
  color: black;
  padding-top: 0;
}

@media screen and (max-width:768px){
  .custom-card {

    width: 300px;
  }

  .card-text{
    font-size: 13px;
  }

  .btn{
    /* size: 10px; */
    font-size: 20px;
  }
}

/* @media screen and (max-width:409px){
  .custom-card {

    width: 350px;
  }
} */
