.custom-card {
  width: 400px;
  border-radius: 16px;
  display: flex;
  transition: all 250ms ease-in-out;
  background-size: cover;
}

/* .campus-card-cllg {
  background-image: linear-gradient(
      15deg,
      rgba(146, 146, 146, 0.252),
      rgb(255 255 255)
    ),
    url(./iitd.jpeg);
}
.campus-card-cllgone {
  background-image: linear-gradient(
      15deg,
      rgba(146, 146, 146, 0.252),
      rgb(255 255 255)
    ),
    url(./iitr.webp);
}
.campus-card-cllgtwo {
  background-image: linear-gradient(
      15deg,
      rgba(146, 146, 146, 0.252),
      rgb(255 255 255)
    ),
    url(./iitm.jpeg);
} */
.custom-card:hover {
  transform: scale(1.04);
  cursor: pointer;
  /* position: static; */

  box-shadow: 0 8px 21px 0 rgb(0 0 0 / 15%);
}

/* @media screen and(max-width:1024px){
  .custom-card{
    width: 400px;
  }
} */



@media screen and (max-width: 1024px) {
  .custom-card {
    width: 284px;
    height: 500px;
  }

  .card-text {
    font-size: 13px;
  }

  .btnc {
    /* size: 10px; */
    font-size: 20px;
  }

  /* .row>* {
    width: fit-content;
  } */
}

/* @media screen and (max-width:409px){
  .custom-card {

    width: 350px;
  }
} */

@media screen and (max-width: 426px) {
  .campus--date {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .card-body {
    padding: 0rem !important;
  }
  .custom-card {
    width: 270px;
  }
}

@media screen and (min-width: 768px){
  .custom-card{
    height: fit-content;
    overflow: hidden;
    width: fit-content;
  }
}
