.main-profile-with-post-share {
  width: 100%;
  height: auto;
  background-color: var(--primary-color-green);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.main-profile-with-post-share .img-share-div {
  display: flex;
  justify-content: space-between;
}

.main-profile-with-post-share .g2-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.main-profile-with-post-share .thumbs-up-and-follow-main-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.main-profile-with-post-share .profile-img-follow-main-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-profile-with-post-share .profile-img-follow {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.main-profile-with-post-share .img-thumsup-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-profile-with-post-share .img-thumbsup-div {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0px;
  /* cursor: pointer; */
  transition: transform 0.2s ease-in-out;
}

.main-profile-with-post-share .img-thumbsup-div .animate {
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.main-profile-with-post-share .img-thumbsup-div .animate:active {
  transform: scale(1.2);
}

.main-profile-with-post-share .img-thumbsup-div .img-thumbsup {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.main-profile-with-post-share .name-desc-div {
  margin-top: 10px;
}

.main-profile-with-post-share .name-desc-div .g-3-text {
  font-size: 22px;
  color: white;
}

.main-profile-with-post-share .icon-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-profile-with-post-share .btn-siv-edit-post-share {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-profile-with-post-share .btn-siv-edit-post-share button:nth-child(1) {
  background-color: transparent;
  color: white;
  width: 50% !important;
  padding: 8px;
  height: 40px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 14px;
}

.main-profile-with-post-share .btn-siv-edit-post-share button:nth-child(2) {
  background-color: transparent;
  margin-left: 8px;

  color: white;
  width: 50% !important;

  padding: 8px;
  height: 40px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 14px;
}

.main-profile-with-post-share .btn-siv-edit-post-share button:nth-child(3) {
  background-color: transparent;
  color: white;
  margin-left: 8px;
  width: 105px;
  padding: 8px;
  height: 40px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 14px;
}

.main-profile-with-post-share .click-to-upload-your-resume {
  background-color: white;
  border-radius: 12px;
  padding: 10px 16px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main-profile-with-post-share
  .click-to-upload-your-resume
  .click-to-upload-your-resume-innner {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-profile-with-post-share
  .click-to-upload-your-resume
  .click-to-upload-your-resume-innner
  button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #547178;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
}

.main-profile-with-post-share .score-update-view {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 12px;
}

.main-profile-with-post-share .update-view-trash-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.main-profile-with-post-share .update-view-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-profile-with-post-share .update-view-btn button:nth-child(1) {
  padding: 8px 14px;
  background-color: #1383821a;
  border: none;
  outline: none;
  border-radius: 8px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); */
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #138382;
}

.main-profile-with-post-share .update-view-btn button:nth-child(2) {
  margin-left: 10px;
  padding: 8px 14px;
  background-color: #1383821a;
  border: none;
  outline: none;
  border-radius: 8px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); */
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #138382;
}

.main-profile-with-post-share .download-trash-icon {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 820px) {
  .main-profile-with-post-share .btn-siv-edit-post-share {
    /* justify-content: center; */
  }

  .main-profile-with-post-share .btn-siv-edit-post-share button:nth-child(1) {
    background-color: transparent;
    color: white;
    width: 31%;
    padding: 8px;
    height: 40px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 14px;
  }

  .main-profile-with-post-share .btn-siv-edit-post-share button:nth-child(2) {
    background-color: transparent;
    margin-left: 8px;
    color: white;
    width: 31%;
    padding: 8px;
    height: 40px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 14px;
  }

  .main-profile-with-post-share .btn-siv-edit-post-share button:nth-child(3) {
    background-color: transparent;
    color: white;
    /* margin-left: 8px; */
    width: 32%;
    padding: 8px;
    height: 40px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 14px;
  }
}

.main-profile-with-post-share .loader-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.main-profile-with-post-share .loader-new-saif {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.main-profile-with-post-share .loader-new-saif:before,
.main-profile-with-post-share .loader-new-saif:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.main-profile-with-post-share .loader-new-saif:after {
  color: #00f1ed;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.click-to-upload-your-resume-innner button .loader-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #138382 90%, #cecece00) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
