.main-profile-with-post-share {
  width: 100%;
  height: auto;
  background-color: var(--primary-color-green);
  padding: 16px;
  border-radius: 16px;
}

.main-profile-with-post-share .img-share-div {
  display: flex;
  justify-content: space-between;
}

.main-profile-with-post-share .g2-img {
  width: 80px;
  height: 80px;
}

.main-profile-with-post-share .img-thumbsup-div {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.main-profile-with-post-share .img-thumbsup-div .animate {
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.main-profile-with-post-share .img-thumbsup-div .animate:active {
  transform: scale(1.2);
}

.main-profile-with-post-share .img-thumbsup-div .img-thumbsup {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.main-profile-with-post-share .name-desc-div {
  margin-top: 10px;
}

.main-profile-with-post-share .name-desc-div .g-3-text {
  font-size: 22px;
  color: white;
}

.main-profile-with-post-share .icon-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-profile-with-post-share .btn-siv-edit-post-share {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  flex-wrap: wrap;
}

.main-profile-with-post-share .btn-siv-edit-post-share button{
  background-color: transparent;
  color: white;
  padding: 8px 36px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 14px;
}

.main-profile-with-post-share .score-update-view {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 12px;
}

.main-profile-with-post-share .update-view-trash-download {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.main-profile-with-post-share .update-view-btn button:nth-child(1) {
  padding: 6px 12px;
  background-color: #1383821a;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  font-weight: 600;
  color: #138382;
}

.main-profile-with-post-share .update-view-btn button:nth-child(2) {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #1383821a;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  font-weight: 600;
  color: #138382;
}

.main-profile-with-post-share .download-trash-icon {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
