.topic_container {
  margin-left: 20vw;
}
.topicBox {
  box-sizing: border-box;
  margin: 20px 0px;
  width: 60vw;
  border-radius: 10px;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 27px auto;
  margin-bottom: 5%;
  background: linear-gradient(rgba(18, 131, 129, 1), rgba(0, 42, 54, 1));
}
.topicBox a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}
.topicBox .subheading {
  width: 393px;
  
  text-align: center;
  font-family: "Poppins";
  font-style: normal;

  font-size: 25px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
}

@media (max-width: 768px) {
  .topicBox .subheading {
    font-size: 17px;
    align-items: center;
  }
}
