@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.Hackathons {
  width: 100%;
}

.Hackathons .hackathonTiles {
  width: 100%;
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .Hackathons {
    width: 100%;
  }
  .Hackathons .hackathonTiles {
    min-width: 250px;
  }
}
