@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 
}
.my-form-head{
  font-weight: bold;
  font-size: 40px;
}
.cont {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding: 24px;
  margin: 2px auto 0px auto;
  height:fit-content;
  width: fit-content;
}
.cont-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: #05555e;
  font-weight: 700;
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
}
.form-cont {
  display: flex;
  flex-direction: column;
  
}

.f-p {
  color: #168584;
  text-decoration: underline;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.form-opt {
  display: flex;
  flex-direction: column;
}

.my-btn {
  padding: 5px;
  border-radius: 16px;
  margin: 5px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: -0.41px;
  height: 60px;
  width: 366px;
}
/* input {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 5px;
  background: rgb(249, 254, 253);
  border: 1px solid rgba(156, 156, 156, 0.781);
  font-size: 1rem;
  width: 100%;
  max-width: 250px;
  transition: all 300ms ease-in-out;
} */
.si {

  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: #05555e;
  color: white;
  
}

/* .divisor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
 
} */

/* input:focus {
  box-shadow: 2px 2px 4px rgba(156, 156, 156, 0.781);
  outline: none;
} */

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-opt {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center;
  border-radius: 16px;
  /* color: white; */
  border: 1px solid #EEEEEE;
  cursor: pointer;

  width: 336px;
  height: 56px;
  transition: all 300ms ease-in-out;
}

.sign-opt:hover {
  box-shadow: 2px 2px 4px rgba(156, 156, 156, 0.781);
}
.sign-opt img {
  padding: 0 2px;
  width: 25px;
}
.sign-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.my-border {
  border-bottom: 2px solid #cacaca2b;
  width: 250px;
  margin: auto;
  padding: 10px;
}


.my-item-cont{
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}

