.f-p:nth-child(2){
    text-decoration: none;
    padding-left: 10px;
}
.captchaf{
    margin-left: 5%;
}
.cpf{
    margin-left: -5%;
}
.reg{
    padding: 20px !important;
    width: fit-content !important;
}

.reg-field{
   flex-direction: row !important;
   gap: 24px;
}

.reg-si{
    background: #168584 ;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 456px)
{.reg-input{
    width: 60vw;
}
.reg-si{
    width: 70vw;
}
.reg-field{
    width: 70vw;
}
.cpf{
    margin-left: 0%;
}
}

.passwordContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.passwordContainer div{
    position: absolute;
    right: 20px;
}