.f-p:nth-child(2){
    text-decoration: none;
    padding-left: 10px;
}

.reg{
    padding: 20px !important;
    width: fit-content !important;
}

.reg-field{
   flex-direction: row !important;
   gap: 24px;
}

.reg-si{
    background: #168584 ;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
