.successCont {
  height: 300px;
  width: 100%;
  max-width: 290px;
  padding: 30px;
  border: 1px solid #eeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 1px 4px 1px rgb(212, 212, 212);
}

.tk {
  /* padding: 20px 0px; */
  animation: breathing 2s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


.successMsg {
  text-align: center;
  /* padding: 10px 0px; */
}

.successBtn {
  background-color: #05555e;
  width: 100%;
  max-width: 259px;
  border-radius: 20px;
  color: white;
  /* padding: 20px; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.successBtn:hover {
  color: white;
  transform: scale(1.05);
}
