.event-modal {
  /* background-color: red; */
  background-image: linear-gradient(white, #76d7d5);
  position: absolute;
  /* width: 100%;
  height: 100%; */
  max-width: 61.125rem;
  max-height: 44.5625rem;
  padding: 2rem 9.43rem;
  padding: var(--section-padding);
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-y: auto;
}
.event-modal > .close-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 2.625rem;
  cursor: pointer;
}
.event-modal > .close-btn > div {
  display: flex;
}
.event-modal > .event-type {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  color: #5f5e5e;
}
.event-modal > .event-title {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0.5rem;
}
.event-modal > .tags {
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  margin-bottom: 0.6rem;
}
.event-modal > .tags > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  margin-right: 1rem;
  border-radius: 0.15rem;
  padding: 0 0.3rem;
  background-color: var(--primary-color-dark-green);
}
.event-modal > .event-description {
  font-size: 1rem;
  color: #5e5a5a;
  margin-bottom: 1rem;
}
.event-modal > .divider {
  border: 1px solid #5e5a5a;
}
.event-modal > .event-data {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.event-modal > .event-data > div > div:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 700;
  color: #5f5e5e;
  margin-bottom: 0.8rem;
}
.event-modal > .event-data > .poster-container {
  width: fit-content;
  height: fit-content;
}
.event-modal > .event-data > .poster-container > img {
  max-width: 20.875rem;
  max-height: 20.875rem;
  width: 100%;
  height: 100%;
}
.event-modal > .event-data > .features-container > .features {
  width: 17.125rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.event-modal > .event-data > .features-container > .features > ul {
  padding: 0 0 0 0.5rem;
}
.event-modal > .event-data > .features-container > .features > ul > li {
  font-size: 0.75rem;
  font-weight: 600;
  color: #5e5a5a;
  margin-bottom: 0.8rem;
}
.event-modal > .details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--primary-color-dark-green);
  padding: 0.5rem 0.8rem;
  align-items: center;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.event-modal > .details-container > .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 0.45rem;
  padding: 0.2rem 0.5rem;
}
.event-modal > .details-container > .details > div:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 600;
  color: #5e5a5a;
}
.event-modal > .details-container > .details > div:nth-child(2) {
  font-size: 0.875rem;
  font-weight: 700;
  color: #312e2e;
}
.event-modal > .details-container > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #128381;
  border-radius: 0.45rem;
  padding: 0.7rem 2.2rem;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
}
