body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
}
a {
  text-decoration: none;
  color: black;
}
#root {
  padding-top: 6.7rem;
  max-width: 1920px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  scroll-behavior: auto;
}
:root {
  --section-padding: min(10.41rem, 8vw);
  --vertical-padding: min(2rem, 4vw);

  --main-background-color: #eeffff; /*rgb(238,255,255)*/

  --neutral-text-color-1: #ffffff; /*rgb(255,255,255)*/
  --neutral-text-color-2: #000000; /*rgb(0,0,0)*/

  --primary-color-green: #128381; /*rgb(18,131,129)*/
  --primary-color-blue: #b9fffe; /*rgb(185,255,254)*/
  --primary-color-yellow: #ffd600; /*rgb(255,214,0)*/
  --primary-color-dark-green: #014051; /*rgb(1,64,81)*/

  --secondary-color-yellow: #f7d77f; /*rgb(247,215,127)*/
  --secondary-color-blue: #8fc8e8; /*rgb(143,200,232)*/
  --secondary-color-green: #b2e887; /*rgb(178,232,135)*/
  --secondary-color-biege: #e8ba98; /*rgb(232,186,152)*/

  --text-color-green: #168584; /*rgb(22,133,132)*/
  --text-color-dark-green: #014051; /*rgb(1,64,81)*/

  --text-height-1: 9.5rem; /*152px*/
  --text-height-2: 3.875rem; /*62px*/
  --text-height-3: 3rem; /*48px*/
  --text-height-4: 1.5rem; /*24px*/
  --text-height-5: 1.25rem; /*20px*/
  --text-height-6: 1.125rem; /*18px*/

  --text-weight-9: 900; /*Black*/
  --text-weight-8: 800; /*Extra Bold*/
  --text-weight-7: 700; /*Bold*/
  --text-weight-6: 600; /*Semi Bold*/
  --text-weight-5: 500; /*Medium*/
  --text-weight-4: 400; /*Regular*/
  --text-weight-3: 300; /*Light*/
  --text-weight-2: 200; /*Extra Light*/
  --text-weight-1: 100; /*Thin*/
}

.text-green {
  color: var(--text-color-green);
}
.text-dark-green {
  color: var(--text-color-dark-green);
}

.text-dark-green {
  color: var(--text-color-dark-green);
}

.heading-1 {
  font-size: var(--text-height-1);
  font-weight: var(--text-weight-6);
}

.heading-2 {
  font-size: var(--text-height-2);
  font-weight: var(--text-weight-7);
}

.heading-3 {
  font-size: var(--text-height-3);
  font-weight: var(--text-weight-7);
}

.heading-4 {
  font-size: var(--text-height-4);
  font-weight: var(--text-weight-7);
}

.subheading-1 {
  font-size: var(--text-height-5);
  font-weight: var(--text-weight-4);
}

.subheading-2 {
  font-size: var(--text-height-6);
  font-weight: var(--text-weight-4);
}

@media (max-width: 900px) {
  :root {
    --section-padding: min(2rem, 4vw);
  }
}

@media (max-width: 475px) {
  :root {
    --section-padding: min(0.8rem, 4vw);
  }
}
