html {
  overflow-x: hidden;
 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: linear-gradient(186deg, #e6eff8, #f6f9fe);
}

:root {
  --lef-col-width: 33%;
  --dark-green: rgba(1, 60, 76, 1);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-slide {
  padding-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 426px) {
  .swiper-slide {
    margin-left: 0px;
  }
}

@media screen and (max-width: 426px) {
  .text1 {
    font-size: 22px;
  }
}
.accordion-button:focus {
  border-color: #054253;
}

.accordion-button:not(.collapsed) {
  color: #054253;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.swiper-slide {
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
}
a {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 427px) {
  .mobile--view {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .desk-tab--view {
    display: none;
  }
}

.dark-bg{
  color:rgba(1, 60, 76, 1) !important;
  font-weight: bolder;
}

.btn--link:hover{
  color: white;
}
.custom--nowrap{
  flex-wrap: nowrap;
}

.custom-pt--15{
  padding-top: 15px;
}