main.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) var(--section-padding);
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}
/* Track */
::-webkit-scrollbar-track {
  scrollbar-gutter: stable;
  opacity: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888863;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color) !important;
}
a {
  text-decoration: none;
  color: black;
  word-break: break-all;
}
#root {
  padding-top: var(--navbar-height);
  max-width: 1920px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  scroll-behavior: auto;
}
label {
  font-family: "Inter", sans-serif;
}
span {
  word-break: break-all;
  word-break: normal;
  overflow-wrap: break-word;
  /* cursor: default; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}
:root {
  --section-padding: min(10.41rem, 8vw);
  --vertical-padding: min(1rem, 4vw);

  --navbar-height: 4.875rem;
  --mobile-navbar-height: 4rem;

  --main-background-color: #eeffff; /*rgb(238,255,255)*/

  --neutral-text-color-1: #ffffff; /*rgb(255,255,255)*/
  --neutral-text-color-2: #000000; /*rgb(0,0,0)*/

  --primary-color-green: #128381; /*rgb(18,131,129)*/
  --primary-color-blue: #b9fffe; /*rgb(185,255,254)*/
  --primary-color-yellow: #ffd600; /*rgb(255,214,0)*/
  --primary-color-dark-green: #014051; /*rgb(1,64,81)*/

  --primary-color-green-code: 18, 131, 129;
  --primary-color-blue-code: 185, 255, 254;
  --primary-color-yellow-code: 255, 214, 0;
  --primary-color-dark-green-code: 1, 64, 81;

  --secondary-color-yellow: #f7d77f; /*rgb(247,215,127)*/
  --secondary-color-blue: #8fc8e8; /*rgb(143,200,232)*/
  --secondary-color-green: #b2e887; /*rgb(178,232,135)*/
  --secondary-color-biege: #e8ba98; /*rgb(232,186,152)*/

  --text-color-green: #168584; /*rgb(22,133,132)*/
  --text-color-dark-green: #014051; /*rgb(1,64,81)*/

  --text-height-1: 9.5rem; /*152px*/
  --text-height-2: 3.875rem; /*62px*/
  --text-height-3: 3rem; /*48px*/
  --text-height-4: 1.5rem; /*24px*/
  --text-height-5: 1.25rem; /*20px*/
  --text-height-6: 1.125rem; /*18px*/

  --text-weight-9: 900; /*Black*/
  --text-weight-8: 800; /*Extra Bold*/
  --text-weight-7: 700; /*Bold*/
  --text-weight-6: 600; /*Semi Bold*/
  --text-weight-5: 500; /*Medium*/
  --text-weight-4: 400; /*Regular*/
  --text-weight-3: 300; /*Light*/
  --text-weight-2: 200; /*Extra Light*/
  --text-weight-1: 100; /*Thin*/
}

.card-hover {
  transition: all 0.2s ease-in-out;
}

.card-hover:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.on-hover-scale {
  transition: all 0.2s ease-in-out;
}

.on-hover-scale:hover {
  transform: scale(1.05);
}

.text-green {
  color: var(--text-color-green);
}
.text-dark-green {
  color: var(--text-color-dark-green);
}

.text-dark-green {
  color: var(--text-color-dark-green);
}

.no-text-crop {
  display: -webkit-box; /* Set display to WebKit box */
  -webkit-line-clamp: unset !important;
  -webkit-box-orient: vertical; /* Set box orientation */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}
.text-crop-1 {
  display: -webkit-box; /* Set display to WebKit box */
  -webkit-line-clamp: 1; /* Set the number of lines to show */
  -webkit-box-orient: vertical; /* Set box orientation */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}
.text-crop-2 {
  display: -webkit-box; /* Set display to WebKit box */
  -webkit-line-clamp: 2; /* Set the number of lines to show */
  -webkit-box-orient: vertical; /* Set box orientation */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}
.text-crop-3 {
  display: -webkit-box; /* Set display to WebKit box */
  -webkit-line-clamp: 3; /* Set the number of lines to show */
  -webkit-box-orient: vertical; /* Set box orientation */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}
.text-crop-4 {
  display: -webkit-box; /* Set display to WebKit box */
  -webkit-line-clamp: 4; /* Set the number of lines to show */
  -webkit-box-orient: vertical; /* Set box orientation */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}
.text-crop-5 {
  display: -webkit-box; /* Set display to WebKit box */
  -webkit-line-clamp: 5; /* Set the number of lines to show */
  -webkit-box-orient: vertical; /* Set box orientation */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}

.heading-1 {
  font-size: var(--text-height-1);
  font-weight: var(--text-weight-6);
}

.heading-2 {
  font-size: var(--text-height-2);
  font-weight: var(--text-weight-7);
}

.heading-3 {
  font-size: var(--text-height-3);
  font-weight: var(--text-weight-7);
}

.heading-4 {
  font-size: var(--text-height-4);
  font-weight: var(--text-weight-7);
}

.subheading-1 {
  font-size: var(--text-height-5);
  font-weight: var(--text-weight-4);
}

.subheading-2 {
  font-size: var(--text-height-6);
  font-weight: var(--text-weight-4);
}

main {
  min-height: 100lvh;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
}

.modal-padding {
  padding: 1.5rem;
}

@media screen and (max-width: 900px) {
  :root {
    --section-padding: min(2rem, 4vw);
  }
}

@media screen and (max-width: 768px) {
  .modal-padding {
    padding: 1rem;
  }
}
@media screen and (max-width: 475px) {
  :root {
    --section-padding: min(0.8rem, 4vw);
  }
}

/* DESIGN SYSTEM STARTS HERE */

/* --TYPOGRAPHY-- */

/* Line Height */

#root {
  --line-height-6xl: 48;
  --line-height-5xl: 43;
  --line-height-4xl: 38;
  --line-height-3xl: 36;
  --line-height-2xl: 35;
  --line-height-xl: 32;
  --line-height-lg: 30;
  --line-height-md: 27;
  --line-height-sm: 25;
  --line-height-xs: 24;
  --line-height-xxs: 19;
  --line-height-xxxs: 16;
}

/* Letter Spacing */

#root {
  --letter-spacing-denser: -2;
  --letter-spacing-dense: -1;
  --letter-spacing-normal: 0;
}

/* Font Size */

#root {
  --font-size-9xl: 40px;
  --font-size-8xl: 36px;
  --font-size-7xl: 32px;
  --font-size-6xl: 30px;
  --font-size-5xl: 28px;
  --font-size-4xl: 26px;
  --font-size-3xl: 24px;
  --font-size-2xl: 22px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 10px;
  --font-size-xxxs: 8px;
}

/* Font Weight */

#root {
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

/* Spacing */

#root {
  --space-xxxs: 2;
  --space-xxs: 4;
  --space-xs: 8;
  --space-sm: 12;
  --space-md: 16;
  --space-lg: 24;
  --space-xl: 32;
  --space-2xl: 40;
  --space-3xl: 48;
  --space-4xl: 64;
  --space-5xl: 80;
  --space-6xl: 96;
  --space-7xl: 128;
}

/* Breakpoint: 1440 - 1025 */

/* Display */

.display-md {
  font-size: var(--font-size-9xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-6xl);
  letter-spacing: var(--letter-spacing-normal);
}

.display-sm {
  font-size: var(--font-size-7xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-4xl);
  letter-spacing: var(--letter-spacing-normal);
}

/* Heading */

.heading-md {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-2xl);
  letter-spacing: var(--letter-spacing-normal);
}

.heading-sm {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing-normal);
}

/* Body */

.body-lg-semibold {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing-normal);
}

.body-lg-regular {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing-normal);
}

.body-md-semibold {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-normal);
}

.body-md-regular {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-normal);
}

.body-sm-semibold {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-xs);
  letter-spacing: var(--letter-spacing-normal);
}

.body-sm-regular {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xs);
  letter-spacing: var(--letter-spacing-normal);
}

/* Label */

.label-sm {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xxs);
  letter-spacing: var(--letter-spacing-normal);
}

.label-xsm {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xxs);
  letter-spacing: var(--letter-spacing-normal);
}

/* Breakpoint: 1024 - 820 */

/* Display */

@media screen and (max-width: 1024px) {
  .display-md {
    font-size: var(--font-size-8xl);
    line-height: var(--line-height-4xl);
  }

  .display-sm {
    font-size: var(--font-size-6xl);
    line-height: var(--line-height-3xl);
  }

  /* Heading */

  .heading-md {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-2xl);
  }

  .heading-sm {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-xl);
  }

  /* Body */
  /* no changes  */

  /* Label */
  /* no changes */
}

/* Breakpoint: 820 - 520 */

/* Display */

@media screen and (max-width: 820px) {
  .display-md {
    font-size: var(--font-size-7xl);
    line-height: var(--line-height-4xl);
  }

  .display-sm {
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-2xl);
  }

  /* Heading */

  .heading-md {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-lg);
  }

  .heading-sm {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
  }

  /* Body */

  .body-lg-semibold {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-md);
  }

  .body-lg-regular {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-md);
  }

  .body-md-semibold {
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .body-md-regular {
    font-size: var(--font-size-md);
    line-height: var(--line-height-xs);
  }

  .body-sm-semibold {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xxs);
  }

  .body-sm-regular {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xxs);
  }

  /* Label */

  .label-sm {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xxxs);
  }
}

/* DESIGN SYSTEM ENDS HERE */
