#info-modal-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  height: 100lvh;
  height: 100svh;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#info-container {
  position: relative;
  --_post-bg-color: #ffffff;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--_post-bg-color);
  padding: 3rem 2rem 2rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
}
#info-container h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
#info-container span {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  margin-bottom: 0.75rem;
}
#info-container a {
  width: 100%;
}

#info-container button {
  background-color: #002b36;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
}

.post-cancel-button-container {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  z-index: 100;
}
.post-cancel-button-container > .post-cancel-button {
  position: absolute;
  font-size: 2rem;
  right: 0;
}
