.social-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.social-modal {
  background: white;
  width: 100%;
  max-width: 588px;
  border-radius: 16px;
  padding: 32px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  margin-top: 0px;
}

.modal-subtitle {
  font-size: 16px;
  color: #547178;
  margin-bottom: 20px;
}

.form-div-modal {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.modal-div-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.modal-button-div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel-modal-btn,
.save-modal-btn {
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.cancel-modal-btn {
  background: #f5f5f5;
  border: none;
}

.save-modal-btn {
  background: #138382;
  color: white;
  border: none;
}

.required-indicator {
  color: #ff3737;
  margin-left: 2px;
}

.error-p {
  color: #f00;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

.input-css {
  width: 250px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #cccccc;
}

.input-css::placeholder {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #547178;
}

.label-css {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #002b36;
}
