.blog__list__item {
  height: 30rem;
}
.blog__list__item .poster {
  min-height: 12rem;
  width: 100%;
}
.project__list__item .sub-title {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog__list__item .description {
  min-height: 10rem;
  overflow: hidden;
}
.project__list__item .topic {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  font-weight: 400;
  color: #9f9696;
}
