.main-assessment-card-div {
  border-radius: 12px;
  border: 2px solid #138382;
  background: #fafafa;
  width: 343px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.main-assessment-div-1,
.main-assessment-div-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.main-assessment-div-1 .main-assessment-left .h3-assess {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
}

.main-assessment-div-1 .main-assessment-left .h4-assess {
  color: #547178;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.main-assessment-div-1 .main-assessment-right .h3-assess {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
}

.main-assessment-div-1 .main-assessment-right .h4-assess {
  color: #547178;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.main-assessment-div-2 .main-assessment-left .h3-assess {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
}

.main-assessment-div-2 .main-assessment-left .h4-assess {
  color: #547178;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.main-assessment-div-2 .main-assessment-right .h3-assess {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  margin-bottom: 0;
}

.main-assessment-div-2 .main-assessment-right .h4-assess {
  color: #547178;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.main-assessment-div-3-btn-div {
  width: 100%;
  display: flex;
  gap: 10px;
}

.main-assessment-div-3-btn-div .view-btn {
  display: flex;
  width: 150px;
  height: 36px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #138382;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  border-radius: 36px;
  border: 2px solid #138382;
  background: #fff;
}

.main-assessment-div-3-btn-div .share-with-candi {
  display: flex;
  width: 150px;
  height: 36px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  border-radius: 36px;
  border: 1px solid #fff;
  background: #138382;
}
